  @inject SignInManager<User> _signInManager

  @model ApplyRaportViewModel


  <!-- apply modal -->
<div class="modal" id="apply-modal">
    <!-- Login Form -->
    <div class="login-form default-form">
      <div class="form-inner">
        <h3>Кандидатствай сега</h3>

        @if (!_signInManager.IsSignedIn(User))
       {
        <!--Apply As Guest-->
        <form method="post" asp-controller="Jobs" asp-action="ApplyAsGuest" asp-route-jobId="@Model.Id" asp-route-returnUrl="@Model.ReturnUrl" enctype="multipart/form-data">
             <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
              <label>Пълно име:</label><br>
              <input asp-for="Fullname" class="form-control" /> 
              </div>

             <div class="form-group">
             <label>Емайл:</label><br>
              <input asp-for="Email" class="form-control" /> 
             </div>

             <div class="form-group">
                 <label>Резюме:</label><br>
             <input asp-for="File" type="file" />
            </div>


  

        <div class="bottom-box">
          <div class="btn-box row">
              <div class="col-lg-12 col-md-12">
                 <button asp-for="@Model.File" type="submit" class="theme-btn social-btn-two next-btn" id="SubmitApply"><i class="las la-cloud-upload-alt"></i> Продължи</button>
               </div>
          </div>
        </div>
                </form>
            }
            else
            {
     
             IEnumerable<SelectListItem> myFiles = ViewData["myFiles"] is null ? null : ViewData["myFiles"] as IEnumerable<SelectListItem>;
             string action = myFiles is not null ? (myFiles.Any() ? "ApplyWithMyFiles" : "UploadAndApplyMyFile") : null;
   
         <!--Apply or Upload and Apply-->
        <form method="post" asp-controller="Jobs" asp-action="@action" asp-route-jobId="@Model.Id" asp-route-returnUrl="@Model.ReturnUrl" enctype="multipart/form-data">
             <div asp-validation-summary="All" class="text-danger"></div>
          <div class="form-group">
                   <label>Резюме:</label><br>
            @if (myFiles is not null && myFiles.Any())
             {
               <select asp-for="resumeFilesId" asp-items="myFiles"></select>
             }
             else
             {
                 <input asp-for="File" type="file" />
             }
                </div>


  

        <div class="bottom-box">
          <div class="btn-box row">
              <div class="col-lg-12 col-md-12">
              @if (myFiles is not null && myFiles.Any())
              {
                 <button type="submit" asp-for="@Model.resumeFilesId" class="theme-btn social-btn-two next-btn" id="SubmitApply"><i class="las la-cloud-upload-alt"></i> Продължи</button>
              }
              else
              {
                 <button type="submit" asp-for="@Model.File"  class="theme-btn social-btn-two next-btn" id="SubmitApply"><i class="las la-cloud-upload-alt"></i> Продължи</button>
              }
              </div>

          </div>
        </div>
                </form>  
            }
        </div>
    </div>
    <!--End Login Form -->
   
</div>



  <!-- raport modal -->
<div class="modal" id="raport-modal">
    <!-- Login Form -->
    <div class="login-form default-form">
      <div class="form-inner">
        <h3 style="color:#d93025">Докладвай</h3>

        <!--Login Form-->
        <form method="post" asp-controller="Message" asp-action="Report" asp-route-postname="@Model.Name" asp-route-returnUrl="@Model.ReturnUrl">
             <div asp-validation-summary="All" class="text-danger"></div>

          <div class="form-group">
              <label>Заглавие:</label>
            <strong>@Model.Name</strong>
          </div>


          <div class="form-group">
            <label>Причина:</label>
            <textarea asp-for="@Model.Message.Description" class="form-control text required" rows="10" cols="50" style="height:auto;max-width:95%;" required="required" aria-required="true" placeholder="Въведете причината, поради която докладвате тази обява. Опитайте се да дадете колкото се може повече подробности."> </textarea>
            <span asp-validation-for="@Model.Message.Description" class="text-danger"></span>
          </div>

        <div class="bottom-box">
          <div class="btn-box row">
              <div class="col-lg-12 col-md-6">
              <button type="submit" class="theme-btn social-btn-two raport-btn-modal">
                 <i class="las la-exclamation-triangle"></i> Докладвай
                  </button>
               </div>

          </div>
        </div>
        </form>
      </div>
    </div>
    <!--End Login Form -->
   
</div>