@model CategoriesViewModel

@{ ViewData["Title"] = "Всички индустрии";
    ViewData["Description"] = "Търсете новата си работа по категориите изброени тук.";
    ViewData["Keywords"] = "categories, industry, категории, индустрия";
    Layout = "~/Views/Home/_PageLayout.cshtml"; 
}

<!-- Job Categories -->
@if (Model.List is not null)
{
    <section class="job-categories desktop-only">
      <div class="auto-container">
        <div class="sec-title text-center">
          <h2>Популярни индустрии</h2>
         @* <div class="text">2020 jobs live - 293 added today.</div>*@
        </div>
        <div class="row wow fadeInUp">

       @await foreach (var item in Model.List)
        {
          <!-- Category Block -->
          <div class="category-block-three col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="content">
                <span class="icon @item.Icon"></span>
                <h4><a>@item.Title_BG</a></h4>

                <form method="post" asp-controller="Jobs" asp-action="Index" asp-route-categoryid="@item.Id">
                <button type="submit" style="font-size:.675em">@item.JobsCount Обяви за работа</button>
                </form>

                 <form method="post" asp-controller="Contestants" asp-action="Index" asp-route-categoryid="@item.Id">
                <button type="submit" style="font-size:.675em">@item.CandidatesCount Кандидати</button>
                </form>
              </div>
            </div>
          </div>

          }
        </div>
      </div>
    </section>
    }
    <!-- End Job Categories -->
