@inject UserManager<User> _userManager

@{
    var user = await _userManager.GetUserAsync(User);

    String pageName = ViewContext.RouteData.Values["page"].ToString();
    String folderName = ViewContext.RouteData.Values["page"].ToString().Split('/')[1];
}

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

      <div class="sidebar-inner">
        <ul class="navigation">

          <li class="@(pageName == "/Account/Manage/Index" ? "active" : "")">
              <a asp-area="Identity" asp-page="/Account/Manage/Index"> <i class="la la-home"></i> Начало</a>
          </li>
          
          <li class="@(pageName == "/Account/Manage/EditProfile" ? "active" : "")">
              <a asp-area="Identity" asp-page="/Account/Manage/EditProfile"><i class="la la-user-tie"></i>Моят профил</a>
          </li>
            @if (user.Role.Equals(Roles.Contestant) || user.Role.Equals(Roles.User) || user.Role.Equals(Roles.Admin) || user.Role.Equals(Roles.Moderator))
            {
           <li class="@(pageName == "/Resume/Index" ? "active" : "")">
             <a asp-area="Identity" asp-page="/Resume/Index"><i class="las la-feather"></i>Кандидатствани обяви</a>
           </li>

          <li class="@(pageName == "/my-files/index" ? "active" : "")">
            <a asp-area="Identity" asp-page="/MyFiles/Index"><i class="las la-folder-open"></i>Моите файлове</a>
          </li>
           }

          @if (user.Role.Equals(Roles.Employer) || user.Role.Equals(Roles.Recruiter) || user.Role.Equals(Roles.Admin) || user.Role.Equals(Roles.Moderator))
           {
           <li class="@(pageName == "/list/jobs" ? "active" : "")">
              <a asp-area="Identity" asp-page="/List" asp-page-handler="Jobs"><i class="la la-file-invoice"></i>Обяви за работа</a>
           </li>
           }

            @if (user.Role.Equals(Roles.Employer) || user.Role.Equals(Roles.Recruiter) || user.Role.Equals(Roles.Admin) || user.Role.Equals(Roles.Moderator))
            {
            <li class="@(pageName == "/list/companies" ? "active" : "")">
                    <a asp-area="Identity" asp-page="/List" asp-page-handler="Companies"><i class="la la-briefcase"></i>Фирми</a>
           </li>
           }

           @if(user.Role.Equals(Roles.Contestant) || user.Role.Equals(Roles.User) || user.Role.Equals(Roles.Admin) || user.Role.Equals(Roles.Moderator))
           {
            <li class="@(pageName == "/list/contestants" ? "active" : "")">
              <a asp-area="Identity" asp-page="/List" asp-page-handler="Contestants"><i class="las la-id-badge"></i>Кандидатури</a>
            </li>
           }

          <li class="@(pageName == "/Tasks/" ? "active" : "")">
              <a asp-area="Identity" asp-page="/Tasks/Index"><i class="las la-tasks"></i> Задачи</a>
            </li>

          <li class="@(pageName == "/Account/Manage/Pricing" ? "active" : "")">
              <a asp-area="Identity" asp-page="/Account/Manage/Pricing"><i class="la la-box"></i>Цени</a>
          </li>
          @*
           <li class="@(pageName == "/Messenger/" ? "active" : "")">
            <a asp-area="Identity" asp-page="/Messenger/Index"><i class="la la-comment-o"></i>Съобщения</a>
           </li>
           *@
          <li class="@(pageName == "/Account/Manage/ChangePassword" ? "active" : "")">
           <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword"><i class="la la-lock"></i>Смяна на парола</a>
           </li>

           @if (user.Role.Equals(Roles.Admin))
            {
           <li class="@(pageName == "/Account/Manage/Users" ? "active" : "")">
           <a asp-area="Identity" asp-page="/Account/Manage/Users"><i class="las la-users-cog"></i>Потребители</a>
           </li>   
            }

        </ul>

        @*<div class="skills-percentage">
          <h4>Skills Percentage</h4>
          <p>Put value for "Cover Image" field to increase your skill up to "85%"</p>

          <!-- Pie Graph -->
          <div class="pie-graph">
            <div class="graph-outer">
              <input type="text" class="dial" data-fgColor="#7367F0" data-bgColor="transparent" data-width="234" data-height="234" data-linecap="normal" value="30">
              <div class="inner-text count-box"><span class="count-text txt" data-stop="30" data-speed="2000"></span>%</div>
            </div>
          </div>
        </div>*@
      </div>
    </div>
    <!-- End User Sidebar -->
