@model Pager

   <nav class="ls-pagination mb-5">
        <ul>
            @if (Model.CurrentPage > 1)
            {
                <li class="prev">
                    <a asp-route-currentpage="1">
                       <i class="fa fa-arrow-left"></i>
                    </a>
                </li>
                <li>
                    <a asp-route-currentpage="@(Model.CurrentPage - 1)">
                       <i class="fa fa-arrow-left"></i>
                    </a>
                </li>
            }

            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
            {
                <li>
                    <a asp-route-currentPage="@i" class="current-page">@i</a>
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li>
                    <a asp-route-currentpage="@(Model.CurrentPage + 1)">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </li>

                <li class="next">
                    <a asp-route-currentpage="@(Model.TotalPages)">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
            }
        </ul>
        </nav>
        