@page

@inject IConfiguration config
@inject UserManager<User> UserManager

@model IndexModel

@{
    ViewData["Title"] = "Контролен панел";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";

    string SiteImageUrl = config.GetSection("MySettings").GetSection("CompanyImageUrl").Value;
    string _ImagePath = config.GetSection("MySettings").GetSection("UserPicturePath").Value;
    string Url = config.GetSection("MySettings").GetSection("SiteUrl").Value;

    string SenderImageUrl;
    string notifyIcon = null;
    User sender;
    int appliedCount = 0;
   int notify;
    if (Model.LoggedUser is not null)
        notify = Model.LoggedUser.ActivityReaded ? 0 : 1;
    else
        notify = 0;
}

    <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
        <div class="upper-title-box">
          <h3>Здравейте, @Model.LoggedUser.FirstName!</h3>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="ui-item">
              <div class="left">
                <i class="icon las la-briefcase"></i>
              </div>
              <div class="right">
              
            @switch (Model.LoggedUser.Role)
            {
                case Roles.User: case Roles.Contestant:
                <h4>@Model.MyContestant</h4>
                <p>Пуснати кандидатури</p>
                    break;
                case Roles.Recruiter: case Roles.Employer:
                <h4>@Model.MyCompanies</h4>
                <p>Моите фирми</p>    
                    break;
                case Roles.Moderator: case Roles.Admin:
                 <p>Чакащи фирми</p>   
                    break;
            }
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="ui-item ui-red">
              <div class="left">
                <i class="icon la la-file-invoice"></i>
              </div>
              <div class="right">
            @switch (Model.LoggedUser.Role)
            {
                case Roles.User: case Roles.Contestant:
                <h4>@appliedCount</h4>
                <p>Кандидатствани обяви</p>
                    break;
                case Roles.Recruiter: case Roles.Employer:
                <h4>@Model.MyJobs</h4>
                <p>Моите обяви</p>    
                    break;
                case Roles.Moderator: case Roles.Admin:
                 <p>Чакащи обяви</p>   
                    break;
            }
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="ui-item ui-yellow">
              <div class="left">
                <i class="icon la la-comment-o"></i>
              </div>
              <div class="right">
                <h4>@Model.MyMessages</h4>
                <p>Съобщения</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="ui-item ui-green">
              <div class="left">
                <i class="icon la la-bookmark-o"></i>
              </div>
              <div class="right">
            
            @switch (Model.LoggedUser.Role)
            {
                case Roles.User: case Roles.Contestant:
                <h4>@Model.MyAppsCount</h4>
                 <p>Приложения</p>  
                    break;
                case Roles.Recruiter: case Roles.Employer:
                <h4>@Model.MyAppsCount</h4>
                 <p>Приложения</p>  
                    break;
                case Roles.Moderator: case Roles.Admin:
                <h4>@Model.MyAppsCount</h4>
                  <p>Чакащи кандидати</p>   
                    break;
            }

              </div>
            </div>
          </div>
        </div>


          <div class="row">
            @if (Model.SelectCompanyChart is not null)
            {
                <div class="col-lg-8">
                    <!-- Graph widget -->
                    <div class="graph-widget ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>Фирми</h4>    
                                <div class="chosen-outer">

                                    <select class="form-select form-select-sm" asp-for="SelectCompanyChart" id="SelectCompanies">  
                                        <option selected value="0">Избери фирма</option>    
                                        @await foreach (var item in Model.SelectCompanyChart)
                                        {
                                            <option value="@item?.Value">@item?.Text</option>
                                        }                   
                                    </select>
                                </div>
                                <p>Брой преглеждания за цяла година</p>
                            </div>

                            <div class="widget-content">
                                <canvas id="chart" width="100" height="45"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="col-lg-4">
                    <!-- Notification Widget -->
                    <div class="notification-widget ls-widget">
                        <div class="widget-title">
                            <h4>Известия</h4>
                        </div>
                        <div class="widget-content">
                            @if (Model.isNotiftEmpty && Model.Notifications is not null)
                            {
                                <ul class="notification-list">
                                    @await foreach (var entity in Model.Notifications)
                                    {
                                        sender = await UserManager.FindByIdAsync(entity.SenderId);

                                        switch (entity.Type)
                                        {
                                            case NotifyType.Information:
                                                notifyIcon = "notif-primary";
                                                break;
                                            case NotifyType.Warning:
                                                notifyIcon = "notif-warning";
                                                break;
                                            case NotifyType.Danger:
                                                notifyIcon = "notif-danger";
                                                break;
                                            case NotifyType.Success:
                                                notifyIcon = "notif-success";
                                                break;
                                            case NotifyType.Image:
                                                notifyIcon = "notif-img";
                                                break;
                                        }

                                        <li>
                                            <a href="@Url/@entity.Url">
                                                <span class="icon @notifyIcon @entity.Icon"></span> <strong>@entity.Title</strong> 
                                                <br>
                                                <span class="colored">@entity.Date.ToString("MM MMMM")</span>
                                            </a>
                                            <hr>
                                        </li>


                                    }
                                </ul>
                            }
                        </div>
            </div>
          </div>
          
          </div>
          
          <div class="row">
           @if (Model.SelectJobChart is not null)
            {
                <div class="col-lg-8">
                    <!-- Graph widget -->
                    <div class="graph-widget ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>Обяви за работа</h4>    
                                <div class="chosen-outer">

                                    <select asp-for="SelectJobChart" id="SelectJobs" class="form-select form-select-md"> 
                                      <option selected value="0">Избери обява</option>      
                                    @await foreach (var item in Model.SelectJobChart)
                                        {
                                            <option value="@item?.Value">@item?.Text</option>
                                        }

                    </select>
                </div>
             <p>Брой преглеждания за месец</p>
            </div>

                <div class="widget-content">
                  <canvas id="chart-job" width="100" height="45"></canvas>
                </div>
              </div>
            </div>
          </div>
          }

          @if (Model.TasksCount > 0)
            {
             <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="ui-item ui-purple">
              <div class="left">
                <i class="icon las la-tasks"></i>
              </div>
              <div class="right">
                <h4>@Model.TasksCount</h4>
                <p>Задачи свързани с мен</p>

              </div>
            </div>
          </div>
            }
          

           <div class="row">
     
          @{
          if (Model.LoggedUser.Role.Equals(Roles.Contestant) || Model.LoggedUser.Role.Equals(Roles.User) || Model.LoggedUser.Role.Equals(Roles.Admin) || Model.LoggedUser.Role.Equals(Roles.Moderator))
           {
           if (Model.MyAppliedJobs is not null && await Model.MyAppliedJobs.AnyAsync())
            {   
                            <div class="col-lg-12">           
                         <!-- applicants Widget -->
                        <div class="applicants-widget ls-widget">
                          <div class="widget-title">
                            <h4>Последно кандидатствани обяви</h4>
                          </div>
                          <div class="widget-content">
                            <div class="row">

                              @await foreach (var item in Model.MyAppliedJobs)
                  {
                    appliedCount++;

                                 <!-- Job Block -->
                                 <div class="job-block col-lg-6 col-md-12 col-sm-12">
                                 <div class="inner-box">
                                <div class="content">
                                  <span class="company-logo">
                                  <img class="rounded-full" src="@SiteImageUrl@item.CompanyLogo" alt="">
                                  </span>
                                  <h4><a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h4>
                                  <ul class="job-info">
                                    <li><span class="icon flaticon-map-locator"></span>@item.LocationId</li>                       
                                    @if (item.MaxSalary > 0)
                         {
                                      <li><span class="icon flaticon-money-bag"></span>@item.MinSalary - @item.MaxSalary / @item.SalaryType.GetDisplayName()</li>
                         }

                         else
                         {
                                      <li><span class="icon flaticon-money-bag"></span>Не е посочено</li>
                         }
                                    
                                  </ul>
                                  <ul class="job-other-info">
                                    <li class="time">@item.ExprienceLevels.GetDisplayName()</li>
                                    <li class="required">@item.CreatedOn.ToString("dd/MM/yyyy")</li>
                                  </ul>
                                  <button class="bookmark-btn"><span class="flaticon-heart"></span></button>
                                </div>
                              </div>
                            </div>
                  }

                            </div>
                          </div>
                        </div>
                       </div>
          }
        } 
                    @if (Model.LoggedUser.Role.Equals(Roles.Employer) || Model.LoggedUser.Role.Equals(Roles.Recruiter) || Model.LoggedUser.Role.Equals(Roles.Admin) || Model.LoggedUser.Role.Equals(Roles.Moderator))
                {
                                    @if (!(Model.ReceivedResumes is null))
                        {
                                        <div class="col-lg-12">
                                        <!-- applicants Widget -->
                                        <div class="applicants-widget ls-widget">
                                            <div class="widget-title">
                                                <h4>Получени кандидатури</h4>
                                            </div>
                                            <div class="widget-content">
                                                <div class="row">

                                        @await foreach (var item in Model.ReceivedResumes)
                                        {
                                            sender = await UserManager.FindByEmailAsync(@item.UserId);
                                            SenderImageUrl = sender?.PictureName is not null && sender.PictureName.Contains("https://") ? sender?.PictureName : (_ImagePath + sender?.PictureName);

                                                        <!-- Candidate block three -->
                                                        <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                                                            <div class="inner-box">
                                                                <div class="content">
                                                                    
                                                                        @if (sender is not null && sender?.PictureName is not null)
                                                            {
                                                                            <figure class="image">
                                                                            <img class="lazyload" data-src="@SenderImageUrl" alt="">
                                                                             </figure>
                                                            } 
                                                            else
                                                            {
                                                                            <figure class="image-icon">
                                                                            <i class="las la-user"></i>
                                                                            </figure>
                                                            }
                                                                   

                                                                    @if (sender is not null)
                                                        {
                                                                        <h4 class="name"><a href="#">@sender?.FirstName @sender?.LastName</a></h4>
                                                        } 
                                                        else
                                                        {
                                                                    <h4 class="name"><a href="#"> @StringHelper.Filter(item.UserId)</a></h4>
                                                        }
                                                                    <ul class="candidate-info">
                                                                        <li class="designation">@sender?.Email</li>
                                                                        <li><span class="icon las la-briefcase"></span> @item.LastAppliedJob</li>
                                                            @if (item.isGuest)
                                                            {
                                                                            <li><span class="icon las la-user"></span>Гост</li>
                                                            } 
                                                            else
                                                            {
                                                                            <li><span class="icon las la-user-tie"></span>Потребител</li>
                                                            }
                                                                    </ul>

                                                                </div>
                                                                <div class="option-box">
                                                                    <ul class="option-list">
                                                                        <li><a asp-controller="Resume" asp-action="GetResume" asp-route-id="@item.Id" data-text="Прегледай резюме">
                                                                        <span class="la la-eye"></span>
                                                                        </a>
                                                                        </li>
                                                                @if (!item.isGuest)
                                                                {
                                                                    <li><a class="call-modal" data-user="@item.UserId" data-modal="#apply-modal" data-text="Добави в задачи">
                                                                            <span class="la la-check"></span>                                                            
                                                                        </a>
                                                                        </li>
                                                                }
                                                                        <li><a class="call-modal" data-id="@item.Id" data-modal="#raport-modal" data-text="Архивирай">
                                                                        <span class="la la-trash"></span>
                                                                        </a>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                        }

                            </div>
                          </div>
                        </div>
                         </div>
                   }
                }
            }
        </div>
    </div>
    </div>
</section>

    <!-- Subscribe Section -->
    <section class="subscribe-section-two -type-5">
      <div class="auto-container wow fadeInUp">
        <div class="carousel-outer">

          <div class="testimonial-carousel owl-carousel owl-theme">

           <div class="testimonial-block first">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-12 offset-lg-1">
            <div class="sec-title pb-16">
              <h2 class="">Рейтинг</h2>
              <div class="text">Вече можеш да разбереш, какво мислят работодателите <br> за твоето CV.</div>

              <div class="mt-20">
                <a asp-area="Identity" asp-page="/Resume/Index"  class="theme-btn btn-style-one">Разбери</a>
              </div>
            </div>
          </div>
        </div>
          </div>
          @*
                    <div class="testimonial-block second">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-4 offset-lg-1">
            <div class="sec-title pb-16">
              <h2 class="">Looking To Post a Jo2b2</h2>
              <div class="text">Advertise your jobs to millions of monthly<br> users and search 15.8 million CVs in our<br> database.</div>

              <div class="mt-20">
                <a href="#" class="theme-btn">Post a Job</a>
              </div>
            </div>
          </div>
        </div>
          </div>

         <div class="testimonial-block third">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-4 offset-lg-1">
            <div class="sec-title pb-16">
              <h2 class="">Looking To Post a Jo2b23</h2>
              <div class="text">Advertise your jobs to millions of monthly<br> users and search 15.8 million CVs in our<br> database.</div>

              <div class="mt-20">
                <a href="#" class="theme-btn">Post a Job</a>
              </div>
            </div>
          </div>
        </div>
          </div>

          *@
        </div>
    </div>
        @*<div class="background-image" style="background-image: url(https://www.maxpixel.net/static/photo/1x/Triangles-Polygon-Violet-Purple-Brown-Background-1409025.png);"></div>

        <div class="row align-items-center justify-content-between">
          <div class="col-lg-4 offset-lg-1">
            <div class="sec-title pb-16">
              <h2 class="">Looking To Post a Job</h2>
              <div class="text">Advertise your jobs to millions of monthly<br> users and search 15.8 million CVs in our<br> database.</div>

              <div class="mt-20">
                <a href="#" class="theme-btn">Post a Job</a>
              </div>
            </div>
          </div>
        </div>*@

      </div>
    </section>
    <!-- End Subscribe Section -->

@if (Model.LoggedUser.Role.Equals(Roles.Employer) || Model.LoggedUser.Role.Equals(Roles.Recruiter) || Model.LoggedUser.Role.Equals(Roles.Admin) || Model.LoggedUser.Role.Equals(Roles.Moderator))
{
    <!-- Add to Task modal -->
    <div class="modal" id="apply-modal">

        <!-- Task Form -->
    <div class="login-form default-form">
            <div class="form-inner">
                <h4>Добави в задачи</h4>
                <br>
                <form method="post" id="taskForm">             
                    <div asp-validation-summary="All" class="text-danger"></div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="TaskInput.Title"></label><span class="required-label">*</span>
                                <input asp-for="TaskInput.Title" class="form-control" placeholder="Име на задача" required />
                                <span asp-validation-for="TaskInput.Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="TaskInput.StartDate"></label><span class="required-label">*</span>
                                <input asp-for="TaskInput.StartDate" class="form-control" placeholder="Начална дата" required />
                                <span asp-validation-for="TaskInput.StartDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="TaskInput.EndDate"></label><span class="required-label">*</span>
                                <input asp-for="TaskInput.EndDate" class="form-control" placeholder="Крайна дата" required />
                                <span asp-validation-for="TaskInput.EndDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="TaskInput.Level"></label><span class="required-label">*</span>
                                <select asp-for="TaskInput.Level" asp-items="Html.GetEnumSelectList<TaskLevel>()" class="form-control" required></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="TaskInput.About"></label> <small>(не е задължително)</small>
                                <input asp-for="TaskInput.About" class="form-control" placeholder="кратко описание" />
                                <span asp-validation-for="TaskInput.About" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-box">
                        <small><i class="las la-info-circle"></i> Можете да уведомите потребителя за онлайн интервю или друго събитие. Моля бъдете описателни!</small>
                        <hr>
                        <div class="btn-box row">
                            <div class="col-lg-6 col-md-12">
                                <a href="#" class="theme-btn btn-style-default" rel="modal:close">
                                    <i class="las la-times"></i> Отказ</a>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <button class="theme-btn btn-style-four" type="submit"> 
                                    <i class="las la-check"></i> Добави
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--End Task Form -->

</div>

    <!-- Rate before delete modal -->
    <div class="modal" id="raport-modal">

        <!-- Task Form -->
    <div class="login-form default-form">
            <div class="form-inner">
                <h4>Оценка на CV</h4>
                <br>
                <form asp-page-handler="Rate" id="rateForm">             
                    <div asp-validation-summary="All" class="text-danger"></div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group text-center">

                                <div class="star-rating">
                                    <span class="las la-star" data-rating="1"></span>
                                    <span class="las la-star" data-rating="2"></span>
                                    <span class="las la-star" data-rating="3"></span>
                                    <span class="las la-star" data-rating="4"></span>
                                    <span class="las la-star" data-rating="5"></span>
                                    <input type="hidden" asp-for="RInput.Rating" class="rating-value" value="@Model.RInput?.Rating">
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="bottom-box">
                        <small><i class="las la-info-circle"></i> Оцени cv-то на потребителя.</small>
                        <hr>
                        <div class="btn-box row">
                            <div class="col-lg-6 col-md-12">
                                <a href="#" class="theme-btn btn-style-default" rel="modal:close">
                                    <i class="las la-times"></i> Отказ</a>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <button class="theme-btn btn-style-four" type="submit"> 
                                    <i class="las la-check"></i>Оцени и архивирай
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--End Task Form -->
</div>
}


    <!-- End Dashboard -->

    @section Scripts {
         <script defer src="~/theme_superio/js/script-panel.min.js"></script>
}
