@page
@model SystemStatisticsModel
@{
    ViewData["Title"] = "Реални данни";
     Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}


<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">@ViewData["Title"]</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">@ViewData["Title"]</a>
                </li>
               @* <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">@Model.WebDir</a>
                </li>
                   *@
            </ul>
        </div>




        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-primary bubble-shadow-small">
                                    <i class="flaticon-layers"></i>
                                </div>
                            </div>
                            <div class="col col-stats ml-3 ml-sm-0">
                                <div class="numbers">

                                    <p class="card-category">Minimum Threads</p>
                                    <h4 class="card-title">@Model.MinThreads</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-info bubble-shadow-small">
                                    <i class="flaticon-analytics"></i>
                                </div>
                            </div>
                            <div class="col col-stats ml-3 ml-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Minumum Ports</p>
                                    <h4 class="card-title">@Model.MinPorts</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-success bubble-shadow-small">
                                    <i class="flaticon-layers"></i>
                                </div>
                            </div>
                            <div class="col col-stats ml-3 ml-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Available Threads</p>
                                    <h4 class="card-title">@Model.Threads</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-success bubble-shadow-small">
                                    <i class="flaticon-analytics"></i>
                                </div>
                            </div>
                            <div class="col col-stats ml-3 ml-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Available ports</p>
                                    <h4 class="card-title">@Model.Ports</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-danger bubble-shadow-small">
                                    <i class="flaticon-stopwatch"></i>
                                </div>
                            </div>
                            <div class="col col-stats ml-3 ml-sm-0">
                                <div class="numbers">
                                    <p class="card-category">CPU Usage</p>
                                    <h4 class="card-title">@Model.CPU %</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-danger bubble-shadow-small">
                                    <i class="flaticon-database"></i>
                                </div>
                            </div>
                            <div class="col col-stats ml-3 ml-sm-0">
                                <div class="numbers">
                                    <p class="card-category">RAM Usage</p>
                                    <h4 class="card-title">@Model.RAM</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-secondary bubble-shadow-small">
                                    <i class="flaticon-shapes-1"></i>
                                </div>
                            </div>
                            <div class="col col-stats ml-3 ml-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Total processes</p>
                                    <h4 class="card-title">@Model.TotalProcesses</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-primary bubble-shadow-small">
                                    <i class="flaticon-layers"></i>
                                </div>
                            </div>
                            <div class="col col-stats ml-3 ml-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Maximum Threads</p>
                                    <h4 class="card-title">@Model.MaxThreads</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <form asp-page-handler="SeedJobs1" method="post">
                                <h5>
                                    <i class="fas fa-info-circle" style="color:#0094ff"></i><strong>
                                        Please provide amount of job requests:
                                    </strong>
                                </h5>
                                <input asp-for="Input.count" class="form-control" required>
                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="link-collapse">Execute Normal</span>
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <form asp-page-handler="SeedJobs2" method="post">
                                <h5>
                                    <i class="fas fa-info-circle" style="color:#0094ff"></i><strong>
                                        Please provide amount of job requests:
                                    </strong>
                                </h5>
                                <input asp-for="Input.count" class="form-control" required>

                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="link-collapse">Execute Async</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <form asp-page-handler="DeleteJobs1" method="post">
                                <h5>
                                    <i class="fas fa-info-circle" style="color:#0094ff"></i><strong>
                                        Delete all Jobs
                                    </strong>
                                </h5>

                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="link-collapse">Execute Normal</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <form asp-page-handler="DeleteJobs2" method="post">
                                <h5>
                                    <i class="fas fa-info-circle" style="color:#0094ff"></i><strong>
                                        Delete all Jobs Async
                                    </strong>
                                </h5>

                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="link-collapse">Execute Async</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <form asp-page-handler="SeedContestants1" method="post">
                                <h5>
                                    <i class="fas fa-info-circle" style="color:#0094ff"></i><strong>
                                        Please provide amount of contestant requests:
                                    </strong>
                                </h5>
                                <input asp-for="Input.count" class="form-control" required>
                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="link-collapse">Execute Normal</span>
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <form asp-page-handler="SeedContestants2" method="post">
                                <h5>
                                    <i class="fas fa-info-circle" style="color:#0094ff"></i><strong>
                                        Please provide amount of contestnat requests:
                                    </strong>
                                </h5>
                                <input asp-for="Input.count" class="form-control" required>

                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="link-collapse">Execute Async</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <form asp-page-handler="DeleteContestants1" method="post">
                                <h5>
                                    <i class="fas fa-info-circle" style="color:#0094ff"></i><strong>
                                        Delete all Contestants
                                    </strong>
                                </h5>

                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="link-collapse">Execute Normal</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <form asp-page-handler="DeleteContestants2" method="post">
                                <h5>
                                    <i class="fas fa-info-circle" style="color:#0094ff"></i><strong>
                                        Delete all Contestants Async
                                    </strong>
                                </h5>

                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="link-collapse">Execute Async</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <form asp-page-handler="SeedCompanies1" method="post">
                                <h5>
                                    <i class="fas fa-info-circle" style="color:#0094ff"></i><strong>
                                        Please provide amount of Companies requests:
                                    </strong>
                                </h5>
                                <input asp-for="Input.count" class="form-control" required>
                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="link-collapse">Execute Normal</span>
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <form asp-page-handler="SeedCompanies2" method="post">
                                <h5>
                                    <i class="fas fa-info-circle" style="color:#0094ff"></i><strong>
                                        Please provide amount of Companies requests:
                                    </strong>
                                </h5>
                                <input asp-for="Input.count" class="form-control" required>

                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="link-collapse">Execute Async</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <form asp-page-handler="DeleteCompanies1" method="post">
                                <h5>
                                    <i class="fas fa-info-circle" style="color:#0094ff"></i><strong>
                                        Delete all Companies
                                    </strong>
                                </h5>

                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="link-collapse">Execute Normal</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <form asp-page-handler="DeleteCompanies2" method="post">
                                <h5>
                                    <i class="fas fa-info-circle" style="color:#0094ff"></i><strong>
                                        Delete all Companies Async
                                    </strong>
                                </h5>

                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="link-collapse">Execute Async</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <table class="table table-responsive-md table-hover table-striped mt-4">

                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Име</th>
                                    <th scope="col">Приоритет</th>
                                </tr>
                            </thead>


                            <tbody>

                                @if (Model.ProcessList != null)
                                {
                                    foreach (var item in Model.ProcessList)
                                    {

                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.ProcessName</td>
                                            <td>@item.BasePriority</td>
                                        </tr>


                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-action">

            </div>
        </div>
    </div>
</div>