@page
@model UsersModel

@{
    ViewData["Title"] = "Потребители";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}



    <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
        <div class="upper-title-box">
          <h3>Потребители</h3>
        </div>

        <div class="row">

          <div class="col-lg-12">
            <!-- applicants Widget -->
            <div class="applicants-widget ls-widget">
             @if (Model.List is not null)
                    {
                        <div class="widget-title">
                            <p>Страница: @Model.Pager.CurrentPage от @Model.Pager.TotalPages</p>
                            <div class="chosen-outer">
                                <!--search box-->
                             <div class="search-box-one">
                                   @* <form method="post" action="blog.html">
                                        <div class="form-group">
                                            <span class="icon flaticon-search-1"></span>
                                            <input type="search" name="search-field" value="" placeholder="Search" required="">
                                        </div>
                                    </form>
                                    *@
                        <!--Tabs Box-->
                        <form method="get">
                            Роля:<input type="submit" asp-for="Role" value="Всички" class="font-weight-bold" /> <input type="submit" asp-for="Role" value="Администратори" class="font-weight-bold text-danger" /> <input type="submit" asp-for="Role" value="Модератори" class="font-weight-bold text-success" /> <input type="submit" asp-for="Role" value="Работодатели" class="font-weight-bold text-letblue" /> <input type="submit" asp-for="Role" value="Персонал" class="font-weight-bold text-purple" /> <input type="submit" asp-for="Role" value="Кандидати" class="font-weight-bold text-warning" /> <input type="submit" asp-for="Role" value="Потребители" class="font-weight-bold text-black-50" /><br>
                            Сортирай по:<input type="submit" asp-for="Sort" value="Всички" class="font-weight-bold"  /> <input type="submit" asp-for="Sort" value="Потвърдени" class="font-weight-bold" /> <input type="submit" asp-for="Sort" value="Активност" class="font-weight-bold" /> <input type="submit" asp-for="Sort" value="Баланс" class="font-weight-bold" />
                        </form>
                          </div>


                            </div>
                        </div>

                        <div class="widget-content">

                            @await foreach (var item in Model.List)
                            {
                                <!-- Candidate block three -->
                                <div class="candidate-block-three">
                                    <div class="inner-box">
                                        <div class="content">
                                            <figure class="image"><img class="lazyload" data-src="@item.PictureName" alt=""></figure>
                                            <h4 class="name"><a href="#">@item.FirstName @item.LastName</a></h4>
                                            <ul class="candidate-info">
                                                <li class="designation" style="color:@item.Role.GetDescription()">@item.Role.GetDisplayName()</li>
                                                <li><span class="icon fas fa-coins" style="color:darkgoldenrod"></span> @item.Balance</li>
                                                <li><span class="icon flaticon-user"></span> @item.Email</li>
                                            </ul>
                                            <ul class="post-tags">
                                                <li><a>Profile Confirmed: @item.profileConfirmed</a></li>
                                                <li><a>External: @item.isExternal</a></li>
                                                <li><a>Type: @item.AccountType.GetDisplayName()</a></li>
                                            </ul>
                                        </div>
                                        <div class="option-box">
                                            <!-- Dashboard Option -->
                                        <div class="dropdown resume-action">
                                                <button class="dropdown-toggle theme-btn btn-style-three" role="button" data-toggle="dropdown" aria-expanded="false">Добави в<i class="fa fa-angle-down"></i></button>

                                                <ul class="dropdown-menu">
                                                    <li>
                                                    <a asp-controller="Account" asp-action="ExchangeRole" asp-route-id="@item.Id" asp-route-T="@Roles.Admin" asp-route-returnUrl="@Model.ReturnUrl" class="dropdown-item">
                                                        <span style="color:@Roles.Admin.GetDescription()">Admin</span>
                                                    </a>
                                                    </li>

                                                    <li>
                                                    <a asp-controller="Account" asp-action="ExchangeRole" asp-route-id="@item.Id" asp-route-T="@Roles.Moderator" asp-route-returnUrl="@Model.ReturnUrl" class="dropdown-item">
                                                        <span style="color:@Roles.Moderator.GetDescription()">Moderator</span>
                                                    </a>
                                                    </li>
                                                                                                        <li>
                                                    <a asp-controller="Account" asp-action="ExchangeRole" asp-route-id="@item.Id" asp-route-T="@Roles.Employer" asp-route-returnUrl="@Model.ReturnUrl" class="dropdown-item">
                                                        <span style="color:@Roles.Employer.GetDescription()">Employer</span>
                                                    </a>
                                                    </li>

                                                                                                        <li>
                                                    <a asp-controller="Account" asp-action="ExchangeRole" asp-route-id="@item.Id" asp-route-T="@Roles.Contestant" asp-route-returnUrl="@Model.ReturnUrl" class="dropdown-item">
                                                        <span style="color:@Roles.Contestant.GetDescription()">Contestant</span>
                                                    </a>
                                                    </li>

                                                                                                        <li>
                                                    <a asp-controller="Account" asp-action="ExchangeRole" asp-route-id="@item.Id" asp-route-T="@Roles.Recruiter" asp-route-returnUrl="@Model.ReturnUrl" class="dropdown-item">
                                                        <span style="color:@Roles.Recruiter.GetDescription()">Recruiter</span>
                                                    </a>
                                                    </li>

                                                                                                        <li>
                                                    <a asp-controller="Account" asp-action="ExchangeRole" asp-route-id="@item.Id" asp-route-T="@Roles.User" asp-route-returnUrl="@Model.ReturnUrl" class="dropdown-item">
                                                        <span style="color:@Roles.User.GetDescription()">User</span>
                                                    </a>
                                                    </li>

                                                </ul>
                                            </div>
                                            @if(item.Role != Roles.Admin)
                                            {
                                             <a asp-controller="Account" asp-action="DeleteUser" asp-route-id="@item.Id" asp-route-returnUrl="@Model.ReturnUrl" class="delete-btn" data-text="Изтриване">
                                                 <span class="text-danger la la-trash"></span>
                                                 </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- Pagination -->
                            @await Html.PartialAsync("../Partials/_PaginationPartial", Model.Pager)
                        </div>
                    }
                </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Dashboard -->

