@inject UserManager<User> UserManager

@model IndexViewModel
@{
    User userId;
    string FullImage;
}   

<!-- About Section -->
    <section class="about-section-two">
      <div class="auto-container">
        <div class="row">
          <!-- Content Column -->
          <!-- Content Column -->
          <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
            <div class="inner-column wow fadeInRight">
              <div class="sec-title">
                <h2>Запознайте се с <br>най-добрите ни родни таланти.</h2>
                <div class="text">Разгледайте всички, които са отворени за нови позиции в мрежата.</div>
              </div>
              <ul class="list-style-one">
                <li>Кандидати от цялата ни страна</li>
                <li>Талантливи</li>
                <li>Потвърдени</li>
              </ul>
              <a asp-area="Identity" asp-page="/Contestant/Operations" class="theme-btn btn-style-one">Присъедини се</a>
            </div>
          </div>


          <!-- Image Column -->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <figure class="image-box wow fadeInLeft"><img class="lazyload" data-src="https://grandjob.eu/theme_superio/images/background/image-3.webp" width="666" height="540" alt=""></figure>
      @if (Model.LastContestants is not null)
      {
                    <!-- Count Employers -->
               <div class="applicants-list wow fadeInUp">
               <div class="title-box">
               <h4>Кандидати</h4>
              </div>
        <ul class="applicants">

        @await foreach (var item in Model.LastContestants)
        {
            userId = await UserManager.FindByIdAsync(item.PosterID);

            if (!(userId is null))
                FullImage = (userId?.PictureName is not null && userId.PictureName.Contains("https://")) ? userId?.PictureName : Model.UserPicturePath + userId?.PictureName; //userId.PictureName.Contains("https://") ? userId?.PictureName : SiteImageUrl + userId?.PictureName;
            else
                FullImage = "~/uploads/Images/100x100.jpg";

                <li class="applicant" >
                  <figure class="image" style="border: 1px solid @item.PremiumPackage.GetDescription()">
                @if (userId?.PictureName is not null)
                {
                    <img class="lazyload" data-src="@FullImage" width="100" height="100" />
                }
                  </figure>
                  <a asp-controller="Contestants" asp-action="Details" asp-route-id="@item.Id" class="name" style="font-size:1rem;">@item.FullName
                      <span class="icon @item.PremiumPackage.GetShortName() @item.PremiumPackage.GetPrompt()" style="color:@item.PremiumPackage.GetDescription();"></span>
                  </a>
                  <br>
                  <span class="designation">@item.Speciality</span>

                </li>
            }

              </ul>
            </div>
         }
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->