@model IndexViewModel

<!-- Job Section -->
    <section class="layout-pt-120 layout-pb-120">
      <div class="auto-container">
        <div class="sec-title text-center">
          <h2>Препоръчани обяви</h2>
          <div class="text">Разберете стойността си и намерете работата, която отговаря на изискванията за живота ви.</div>
        </div>

        <div class="default-tabs tabs-box">
          <!--Tabs Box-->
          <div class="tab-buttons-wrap">
            <ul class="tab-buttons -pills-condensed -blue">
                @if (Model.JobsTop is not null && await Model.JobsTop.AnyAsync())
                {
              <li class="tab-btn active-btn" data-tab="#tab1">с висок рейтинг</li>
                }
              @if (Model.JobsLast is not null && await Model.JobsLast.AnyAsync())
                {
              <li class="tab-btn" data-tab="#tab2">последни добавени</li>
                }
              @*if (await Model.JobsByCompany.AnyAsync())
                {
              <li class="tab-btn" data-tab="#tab3">îò íàé-äîáðà ôèðìà</li>
                }*@
            </ul>
          </div>


          <div class="tabs-content pt-50 wow fadeInUp">
          @if (Model.JobsTop is not null)
                {
                    <!--Last jobs-->
                    <div class="tab active-tab" id="tab1">
                        <div class="row">

                   @await foreach (var item in Model.JobsTop)
                    {
                     <!-- Job Block -->
                     <div class="job-block col-lg-4 col-md-6 col-sm-12">
                     <div class="inner-box" style="border: 1px solid @item.PremiumPackage.GetDescription()">
                    <div class="content">
                      <span class="company-logo">
                          <img class="rounded-full lazyload" data-src="@Model.PictureUrl@item.CompanyLogo" alt="">
                          </span>
                      <h4><a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h4>
                      <ul class="job-info">
                        <li><span class="icon las la-map-marked"></span>@item.LocationId</li>                       
                        @if (item.MaxSalary > 0)
                         {
                          <li><span class="icon las la-money-bill-wave"></span>@item.MinSalary - @item.MaxSalary / @item.SalaryType.GetDisplayName()</li>
                         }

                         else
                         {
                          <li><span class="icon las la-money-bill-wave"></span>Не е посочено</li>
                        }
                        <li> <span class="icon @item.PremiumPackage.GetShortName()" style="color:@item.PremiumPackage.GetDescription();"></span></li>

                      </ul>
                      <ul class="job-other-info">
                        <li class="time">@item.ExprienceLevels.GetDisplayName()</li>
                        <li class="required">@item.CreatedOn.ToString("dd MMMM")</li>
                      </ul>
                       @{string iconType = @item.isInFavourites ? "las" : "lar";}
                       <button type="button" value='Submit' onclick="CheckAvailability(@item.Id)" class="bookmark-btn">
                          <span class="@iconType la-heart" id="@item.Id-heartIcon"></span>
                       </button>
                    </div>
                  </div>
                </div>
                }



              </div>
            </div>
            }

            @if (Model.JobsLast is not null)
                {
                 <!--Jobs Top-->
                   <div class="tab" id="tab2">
                  <div class="row">
                  @await foreach (var item in Model.JobsLast)
                    {
                     <!-- Job Block -->
                     <div class="job-block col-lg-4 col-md-6 col-sm-12">
                     <div class="inner-box" style="border: 1px solid @item.PremiumPackage.GetDescription()">
                    <div class="content">
                       <span class="company-logo"><img class="rounded-full lazyload" data-src="@Model.PictureUrl@item.CompanyLogo" alt=""></span>
                      <h4><a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h4>
                      <ul class="job-info">
                        <li><span class="icon las la-map-marked"></span>@item.LocationId</li>                       
                        @if (item.MaxSalary > 0)
                         {
                          <li><span class="icon las la-money-bill-wave"></span>@item.MinSalary - @item.MaxSalary / @item.SalaryType.GetDisplayName()</li>
                         }

                         else
                         {
                          <li><span class="icon las la-money-bill-wave"></span>Не е посочено</li>
                        }
                        <li> <span class="icon @item.PremiumPackage.GetShortName()" style="color:@item.PremiumPackage.GetDescription();"></span></li>

                      </ul>
                      <ul class="job-other-info">
                        <li class="time">@item.ExprienceLevels.GetDisplayName()</li>
                        <li class="required">@item.CreatedOn.ToString("dd MMMM")</li>
                      </ul>
                       @{string iconType = @item.isInFavourites ? "las" : "lar";}
                       <button type="button" value='Submit' onclick="CheckAvailability(@item.Id)" class="bookmark-btn">
                          <span class="@iconType la-heart" id="@item.Id-heartIcon"></span>
                       </button>
                    </div>
                  </div>
                </div>
                }
              </div>
            </div>
            }

             @*if (await Model.JobsByCompany.AnyAsync())
                {
                    <!--Tab-->
                    <div class="tab" id="tab3">
                        <div class="row">
                @await foreach (var item in Model.JobsByCompany)
                {
                     <!-- Job Block -->
                     <div class="job-block col-lg-4 col-md-6 col-sm-12">
                     <div class="inner-box">
                    <div class="content">
                      <span class="company-logo"><img class="rounded-full lazyload" data-src="@Model.PictureUrl@item.CompanyLogo" alt=""></span>
                      <h4><a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h4>
                      <ul class="job-info">
                        <li><span class="icon las la-map-locator"></span>@item.LocationId</li>                       
                        @if (item.MaxSalary > 0)
                         {
                          <li><span class="icon las la-money-bag"></span>@item.MinSalary - @item.MaxSalary / @item.SalaryType.GetDisplayName()</li>
                         }

                         else
                         {
                          <li><span class="icon las la-money-bag"></span>Íå å ïîñî÷åíî</li>
                         }
                        
                      </ul>
                      <ul class="job-other-info">
                        <li class="time">@item.ExprienceLevels.GetDisplayName()</li>
                        <li class="required">@item.CreatedOn.ToString("dd/MM/yyyy")</li>
                      </ul>
                       @{string iconType = @item.isInFavourites ? "las" : "lar";}
                       <button type="button" value='Submit' onclick="CheckAvailability(@item.Id)" class="bookmark-btn">
                          <span class="@iconType la-heart" id="@item.Id-heartIcon"></span>
                       </button>
                    </div>
                  </div>
                </div>
                }
              </div>
            </div>
            }*@

          </div>
        </div>
      </div>
    </section>
    <!-- End Job Section -->
