@inject IConfiguration config

@inject IJobsService JobsService
@inject IHtmlSanitizer Sanitizer

@model CompanyViewModel

@{ 
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.About;
    ViewData["Keywords"] = Model.Title;

     Layout = "~/Views/Home/_PageLayout.cshtml";

    string SiteImageUrl = config.GetSection("MySettings").GetSection("CompanyImageUrl").Value;
    string imageFullPath = SiteImageUrl + Model.Logo; 
}

<link rel="preload" as="style" type="text/css" onload="this.onload=null;this.rel='stylesheet'"  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" asp-append-version="true">

    <!-- Job Detail Section -->
    <section class="job-detail-section">
      <!-- Upper Box -->
      <div class="upper-box">
        <div class="auto-container">
          <!-- Job Block -->
          <div class="job-block-seven">
            <div class="inner-box">
              <div class="content">
                <span class="company-logo"><img class="lazyload" data-src="@imageFullPath" alt=""></span>
                <h4><a href="#">@Model.Title</a></h4>
                <ul class="job-info">
                  <li><span class="icon las la-map-marked"></span> @Model.LocationId</li>
                  <li><span class="icon las la-briefcase"></span> @Model.CategoryName</li>
                  <li><span class="icon las la-phone-volume"></span> @Model.PhoneNumber</li>
                  <li><span class="icon las la-envelope"></span> @Model.Email</li>
                </ul>
                <ul class="job-other-info">
                  <li class="time">Отворени позиции – @Model.JobsCount</li>
                </ul>
              </div>

              <div class="btn-box">
                @if(!String.IsNullOrEmpty(Model.Website))
                {
                <a href="@Model.Website" class="theme-btn btn-style-one">Уеб сайт</a>
                }
                <a class="bookmark-btn"><i class="las la-heart" style="line-height:unset;"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="job-detail-outer">
        <div class="auto-container">
          <div class="row">
            <div class="content-column col-lg-8 col-md-12 col-sm-12">

                    <div class="job-detail">
                <h4>Относно</h4>
                @Model.About
                 </div>

            @if (Model.GalleryImagesList is not null && !(await Model.GalleryImagesList.IsEmptyAsync()))
            {
               <br>
              <div class="job-detail">
                   <h4>Галерия</h4>
           
                            <div class="row images-outer">
                                @await foreach (var item in Model.GalleryImagesList)
                                {
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <figure class="image">
                                            <a href="@Model.GalleryPath\@item" class="lightbox-image" data-fancybox="gallery">
                                                <img class="bordered lazyload" data-src="@Model.GalleryPath\@item" width="150" height="150" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                }
                            </div>
                        
                    </div>
                    }
              <!-- Related Jobs -->
              @if (await Model.JobsByCompany.AnyAsync())
                    {
                        <div class="related-jobs">
                            <div class="title-box">
                                <h3>@Model.JobsCount - обяви за работа</h3>
                            </div>

                    @await foreach (var item in Model.JobsByCompany)
                      {
                     <!-- Job Block -->
                     <div class="job-block ">
                     <div class="inner-box">
                    <div class="content">
                      <span class="company-logo"><img class="rounded-full lazyload" data-src="@SiteImageUrl@item.CompanyLogo" alt=""></span>
                      <h4><a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h4>
                      <ul class="job-info">
                        <li><span class="icon las la-map-marked"></span>@item.LocationId</li>                       
                        @if (item.MaxSalary > 0)
                         {
                          <li><span class="icon las la-wallet"></span>@item.MinSalary - @item.MaxSalary / @item.SalaryType.GetDisplayName()</li>
                         }

                         else
                         {
                          <li><span class="icon las la-wallet"></span>Не е посочено</li>
                         }
                        
                      </ul>
                      <ul class="job-other-info">
                        <li class="time">@item.ExprienceLevels.GetDisplayName()</li>
                        <li class="required">@item.CreatedOn.ToString("dd/MM/yyyy")</li>
                      </ul>
                      <button class="bookmark-btn"><span class="las la-heart" style="line-height:unset;"></span></button>
                    </div>
                  </div>
                </div>
                            }

                        </div>
                    }
                </div>

            <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
              <aside class="sidebar">
                <div class="sidebar-widget company-widget">
                  <div class="widget-content">

                    <ul class="company-info mt-0">
                      <li>Индустрия: <span>@Model.CategoryName</span></li>
                      <li>Брой гласували: <span>@Model.VotedUsers</span></li>
                      <li>Дата на регистрация: <span>@Model.Date.ToString("yyyy")</span></li>
                      <li>Адрес: <span>@Model.Adress</span></li>
                      <li>Социална медия:
                        <div class="social-links">
                          <a href="@Model.Facebook"><i class="lab la-facebook-f"></i></a>
                          <a href="@Model.Twitter"><i class="lab la-twitter"></i></a>
                          <a href="@Model.Linkdin"><i class="lab la-linkedin-in"></i></a>

                        </div>
                      </li>
                    </ul>

                    <div class="btn-box"><a href="#" class="theme-btn btn-style-three">                        
                        <div class="star-rating">
        <span class="las la-star" data-rating="1"></span>
        <span class="las la-star" data-rating="2"></span>
        <span class="las la-star" data-rating="3"></span>
        <span class="las la-star" data-rating="4"></span>
        <span class="las la-star" data-rating="5"></span>
        <input type="hidden" name="whatever1" class="rating-value" value="@Model.Rating">
      </div></a></div>
                  </div>
                </div>

                @*<div class="sidebar-widget">
                  <!-- Map Widget -->
                  <h4 class="widget-title">Job Location</h4>
                  <div class="widget-content">
                    <div class="map-outer mb-0">
                      <div class="map-canvas" data-zoom="12" data-lat="-37.817085" data-lng="144.955631" data-type="roadmap" data-hue="#ffc400" data-title="Envato" data-icon-path="images/resource/map-marker.png" data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                      </div>
                    </div>
                  </div>
                </div>*@


              </aside>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Job Detail Section -->



