@inject IJobsService JobsService
@inject IHtmlSanitizer Sanitizer

@model ContestantViewModel

@{ 
    ViewData["Title"] = $"{@Model.FullName}";
    ViewData["Description"] = "Търсете профили на кандидати от GrandJob.eu. Разгледайте нашата база данни за кандидати, за да намерите бързо подходящо лице за вашите задачи.";
    ViewData["Keywords"] = $"candidates, кандидати, потребители";

     Layout = "~/Views/Home/_PageLayout.cshtml";

}


    <!-- Candidate Detail Section -->
    <section class="candidate-detail-section style-three">
      <!-- Upper Box -->
      <div class="upper-box">
        <div class="auto-container">
          <!-- Candidate block Six -->
          <div class="candidate-block-six">
            <div class="inner-box">
              <figure class="image" style="border: 1px solid @Model.PremiumPackage.GetDescription()"><img class="lazyload" data-src="@Model.imageFullPath" alt=""></figure>
              <h4 class="name"><a href="#">@Model.FullName</a></h4>
              <span class="designation">@Model.Speciality</span>
              <span>@Model.About</span>
              <div class="content">

                 <ul class="candidate-info">
                  <li><span class="icon las la-map-marked"></span> @Model.LocationId</li>
                  <li><span class="icon las la-clock"></span> @Model.CreatedOn.ToString("dd MMMM")</li>
                            @if (!Model.PremiumPackage.Equals(PremiumPackage.None))
                            {
                                <li><span class="icon @Model.PremiumPackage.GetShortName() @Model.PremiumPackage.GetPrompt()" style="color:@Model.PremiumPackage.GetDescription();"></span> @Model.PremiumPackage.GetDisplayName() обява</li>
                            }
                        </ul>

                <div class="btn-box">
                @if(!String.IsNullOrEmpty(Model.ResumeFileId))
                {
                <a asp-controller="Resume" asp-action="GetResume" asp-route-id="@Model.ResumeFileId" class="theme-btn btn-style-one">Прегледай CV</a>
                }
                <button class="bookmark-btn"><i class="las la-heart" style="line-height:unset;"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="candidate-detail-outer">
        <div class="auto-container">
          <div class="row">
            <div class="content-column col-lg-8 col-md-12 col-sm-12 order-2">
              <div class="job-detail">
                <h4>Относно</h4>
                @Html.Raw(@Sanitizer.Sanitize(@Model.Description))


                @if (await Model.ContestantDetails_Educations.AnyAsync())
                        {
                            <!-- Resume / Education -->
                            <div class="resume-outer">
                                <div class="upper-title">
                                    <h4>Образование</h4>
                                </div>

                            @await foreach (var item in Model.ContestantDetails_Educations)
                            {
                                <!-- Resume BLock -->
                                <div class="resume-block">
                                    <div class="inner">
                                        <span class="name">M</span>
                                        <div class="title-box">
                                            <div class="info-box">
                                                <h3>@item.Education</h3>
                                                <span>@item.Education_Place</span>
                                            </div>
                                            <div class="edit-box">
                                                <span class="year">@item.Education_StartDate.ToString("yyyy") - @item.Education_EndDate.ToString("yyyy")</span>
                                                @*
                                                    <div class="edit-btns">
                                                    <button><span class="la la-pencil"></span></button>
                                                    <button><span class="la la-trash"></span></button>
                                                    </div>
                                                *@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                }
                            </div>
                        }

                @if (await Model.ContestantDetails_Works.AnyAsync())
                        {
                            <!-- Resume / Work & Experience -->
                            <div class="resume-outer theme-blue">
                                <div class="upper-title">
                                    <h4>Работа & Опит</h4>
                                </div>
                            @await foreach (var item in Model.ContestantDetails_Works)
                            {
                                <!-- Resume BLock -->
                                <div class="resume-block">
                                    <div class="inner">
                                        <span class="name">@item.Work.Substring(0, item.Work.Length)</span>
                                        <div class="title-box">
                                            <div class="info-box">
                                                <h3>@item.Work</h3>
                                                <span>@item.Work_Place</span>
                                            </div>
                                            <div class="edit-box">
                                                <span class="year">@item.Work_StartDate.ToString("dd MMMM yyyy") - @item.Work_EndDate.ToString("dd MMMM yyyy")</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        }
               @if (await Model.ContestantDetails_Awards.AnyAsync())
                        {
                            <!-- Resume / Awards -->
                            <div class="resume-outer theme-yellow">
                                <div class="upper-title">
                                    <h4>Сертификати & Награди</h4>
                                </div>
                            @await foreach (var item in Model.ContestantDetails_Awards)
                            {
                                <!-- Resume BLock -->
                                <div class="resume-block">
                                    <div class="inner">
                                        <span class="name">@item.Award.Substring(0, item.Work.Length)</span>
                                        <div class="title-box">
                                            <div class="info-box">
                                                <h3>@item.Award</h3>
                                                <span></span>
                                            </div>
                                            <div class="edit-box">
                                                <span class="year">@item.Award_StartDate.ToString("yyyy") - @item.Award_EndDate.ToString("yyyy")</span>
                                            </div>
                                        </div>
                                        <div class="text">@item.Award_Description</div>
                                    </div>
                                </div>

                                }
                            </div>
                        }

                                        @*
                        <!-- Portfolio -->
                <div class="portfolio-outer">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <figure class="image">
                        <a href="images/resource/portfolio-1.jpg" class="lightbox-image"><img src="images/resource/portfolio-1.jpg" alt=""></a>
                        <span class="icon flaticon-plus"></span>
                      </figure>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <figure class="image">
                        <a href="images/resource/portfolio-2.jpg" class="lightbox-image"><img src="images/resource/portfolio-2.jpg" alt=""></a>
                        <span class="icon flaticon-plus"></span>
                      </figure>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <figure class="image">
                        <a href="images/resource/portfolio-3.jpg" class="lightbox-image"><img src="images/resource/portfolio-3.jpg" alt=""></a>
                        <span class="icon flaticon-plus"></span>
                      </figure>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <figure class="image">
                        <a href="images/resource/portfolio-4.jpg" class="lightbox-image"><img src="images/resource/portfolio-4.jpg" alt=""></a>
                        <span class="icon flaticon-plus"></span>
                      </figure>
                    </div>
                  </div>
                </div>
                

                <!-- Video Box -->
                <div class="video-outer">
                  <h4>Candidates About</h4>
                  <div class="video-box">
                    <figure class="image">
                      <a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" class="play-now" data-fancybox="gallery" data-caption="">
                        <img src="images/resource/video-img.jpg" alt="">
                        <i class="icon flaticon-play-button-3" aria-hidden="true"></i>
                      </a>
                    </figure>
                  </div>
                </div>*@
              </div>
            </div>

            <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
              <aside class="sidebar">
                <div class="sidebar-widget">
                  <div class="widget-content">
                    <ul class="job-overview">

                      @if (Model.Experience > 0)
                       {
                      <li>
                        <i class="icon las la-business-time"></i>
                        <h5>Опит:</h5>
                        <span>@Model.Experience г.</span>
                      </li>
                       }

                      <li>
                        <i class="icon las la-eye"></i>
                        <h5>Преглеждания:</h5>
                        <span>@Model.Views</span>
                      </li>

                     <li>
                        <i class="icon las la-industry"></i>
                        <h5>Категория:</h5>
                        <span>@Model.CategoryName</span>
                      </li>

                      <li>
                        <i class="icon las la-wallet"></i>
                        <h5>Очаквана заплата:</h5>
                        @if (Model.payRate > 0)
                            {
                                <span>мин. @Model.payRate лв.</span>
                            }
                            else
                            {
                                <span>Не е посочено</span>
                            }
                      </li>

                      <li>
                        <i class="icon las la-hand-holding-usd"></i>
                        <h5>Заплащане:</h5>
                        <span>на @Model.SalaryType.GetDisplayName()</span>
                      </li>


                     @if (Model.WorkType != null)
                      {
                      <li>
                        <i class="icon las la-handshake"></i>
                        <h5>Тип:</h5>
                        <span>@Model.WorkType.Replace(",", "; ")</span>
                      </li>
                      }
                    </ul>
                  </div>

                </div>


                 @if (Model.LanguagesMapped is not null)
                        {
                            <div class="sidebar-widget">
                                <!-- Job Skills -->
                             <h4 class="widget-title">Езици</h4>
                                <div class="widget-content">
                                    <ul class="job-skills">
                            @await foreach (var skill in Model.LanguagesMapped)
                            {
                                        <li><a href="#">@skill.Name</a></li>
                            }
                                    </ul>
                                </div>
                            </div>
                        }
                @if (Model.SkillsMapped is not null)
                        {
                            <div class="sidebar-widget">
                                <!-- Job Skills -->
                             <h4 class="widget-title">Умения</h4>
                                <div class="widget-content">
                                    <ul class="job-skills">
                            @await foreach (var skill in Model.SkillsMapped)
                            {
                                        <li><a href="#">@skill.Title</a></li>
                            }
                                    </ul>
                                </div>
                            </div>
                        }


                 <div class="sidebar-widget social-media-widget">
                  <h4 class="widget-title">Социална медия</h4>
                  <div class="widget-content">
                    <div class="social-links">
                   @{
                      if (Model.Facebook is not null)
                      {
                      <a href="http://facebook.com/@Model.Facebook"><i class="lab la-facebook-f"></i></a>
                      }
                      if (Model.Twitter is not null)
                      {
                      <a href="http://twitter.com/@Model.Twitter"><i class="lab la-twitter"></i></a>
                      }
                      if (Model.Github is not null)
                      {
                      <a href="http://github.com/@Model.Github"><i class="lab la-github"></i></a>
                      }
                      if (Model.Linkdin is not null)
                      {
                      <a href="http://linkedin.com/in/@Model.Linkdin"><i class="lab la-linkedin-in"></i></a>
                      }
                      if (Model.Dribbble is not null)
                      {
                      <a href="http://dribbble.com/@Model.Dribbble"><i class="lab la-dribbble"></i></a>
                      }
                    }
                    </div>
                  </div>
                </div>

              </aside>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End candidate Detail Section -->