@inject IConfiguration config
@inject ISkillsService _skillService
@inject UserManager<User> UserManager
@inject IFavoritesService _favoriteService
@model ContestantViewModel

@{
    ViewData["Title"] = "Всички кандидати";
    ViewData["Description"] = "Търсете профили на кандидати от GrandJob.eu. Разгледайте нашата база данни за кандидати, за да намерите бързо подходящо лице за вашите задачи.";
    ViewData["Keywords"] = "candidates, кандидати, потребители, работа";

    Layout = "Layout/_Index";

    var user = await UserManager.GetUserAsync(User);

    User userId;
    IAsyncEnumerable<Skills> skills;

    string FullImage;
    int dateNow = DateTime.Now.Year;
    string SiteImageUrl = config.GetSection("MySettings").GetSection("SiteImageUrl").Value;

    var context = Context.Request;
    var loc = new Uri($"{context.Scheme}://{context.Host}{context.Path}{context.QueryString}");
    var returnUrl = loc.AbsoluteUri;
}
<div class="row">
    <div class="col-wide col">

        <nav class="nav-main px-sm-0 navbar navbar-expand navbar-light round-bottom-edges">
            <a target="_self" class="navbar-brand" href="/">
                <img src="~/customCSS/Base/images/logo.png" />
            </a>

            <div id="filter-Mobile" style="display: none;">
                <div class="offcanvas-collapse mobile-only navbar-collapse show ios-backdrop" style="left: 0;">
                    <div class="top-side">
                        <a target="_self" class="navbar-brand" href="/">
                            <img src="~/customCSS/Base/images/logo.png" />
                        </a>
                        <div class="close-btn" id="close">
                            <span class="icon ">
                                <svg width="19" height="19"
                                     viewBox="0 0 19 19" fill="none">
                                    <path d="M18.158 16.7433C18.2716 16.8569 18.3189 17.0369 18.1864 17.1694L17.3909 17.9649C17.2914 18.0644 17.0784 18.0502 16.9647 17.9365L0.448715 1.42053C0.297192 1.269 0.320867 1.09381 0.420304 0.994369L1.2158 0.198874C1.34838 0.0662913 1.49043 0.0757614 1.64196 0.227284L18.158 16.7433Z"
                                          fill="#94E4D6"></path>
                                    <path d="M16.7433 0.227287C16.8569 0.113645 17.0369 0.0662932 17.1694 0.198876L17.9649 0.994371C18.0644 1.09381 18.0502 1.30689 17.9365 1.42053L1.42053 17.9365C1.269 18.088 1.09381 18.0644 0.994369 17.9649L0.198874 17.1694C0.0662913 17.0369 0.0757614 16.8948 0.227284 16.7433L16.7433 0.227287Z"
                                          fill="#94E4D6"></path>
                                </svg>
                            </span>


                        </div>
                    </div>
                    <div class="bottom-side navbar-nav">
                        <div class="filter-content filter" id="filterSidenav">
                            <partial name="Partials/_FilterPartial" />
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="search-page row">
    <div class="desktop-only col-lg-4">

        <h3>Филтри</h3>
        <div class="filter-content" id="filterSidenav2" style="color:black;">
            <partial name="Partials/_FilterPartial" />
        </div>
    </div>
    <div class="col">
        <div class="search-results" id="jobsContent">

            <button id="filterButton" label="Toggle navigation" type="button" class="btn btn-main btn-transparent btn-subcolor unset-width no-wrap btn btn-primary mobile-only">
                Филтър
            </button>


            @if (Model.Result != null)
            {
                <form asp-controller="Contestants" asp-action="Index" method="get">

                    <div class="search-options">
                        <div class="search-options-bg">
                            <div class="search-options-top">
                                <div>
                                    <p class="search-options-count">Открихме @*Model.Count*@ подходящи кандидати за работа</p>
                                    <p class="search-options-sort text-small">Сортирай по:<input type="submit" asp-for="Sort" value="Рейтинг" class="search-options-link ml-2 mr-3 font-weight-bold" /> <input type="submit" asp-for="Sort" value="Най-нови" class="search-options-link ml-2 mr-3 font-weight-bold" /> <input type="submit" asp-for="Sort" value="Последни" class="search-options-link ml-2 mr-3 font-weight-bold" /><input type="submit" asp-for="Sort" value="Заплата" class="search-options-link ml-2 mr-3 font-weight-bold" /></p>
                                </div>
                                @*<div class="search-options-buttons desktop-only-flex"><button type="button" class="btn btn-main btn-transparent btn-subcolor unset-width btn btn-primary">Сподели</button></div>*@
                            </div>
                        </div>
                    </div>
                </form>
                <div class="line"></div>

                <div class="search-listing">
                    @await foreach (var item in Model.Result)
                    {
                        userId = await UserManager.FindByIdAsync(item.PosterID);
                        skills = _skillService.GetAll<Skills>(item.SkillsId, false);
                        if (!(userId is null))
                            FullImage = userId.isExternal ? userId?.PictureName : SiteImageUrl + userId?.PictureName;
                        else
                            FullImage = "~/uploads/Images/100x100.jpg";

                        <div class="search-listing-details">
                            <a class="job-link hidden-link" asp-controller="Contestants" asp-action="Details" asp-route-id="@item.Id"></a>

                            <div class="search-listing-left desktop-only">
                                <div class="image-wrapper">
                                    @if (userId?.PictureName is null)
                                    {
                                        <img src="~/uploads/Images/100x100.jpg">
                                    }
                                    else
                                    {
                                        <img src="@FullImage" alt="Няма снимка">
                                    }
                                    <div class="overlay">

                                        <a asp-controller="Contestants" asp-action="UpdateFavourite" asp-route-id="@item.Id" asp-route-returnUrl="@returnUrl" class="icon">
                                            @if (!(await _favoriteService.isInFavourite(user, PostType.Contestant, item.Id)))
                                            {
                                                <i class="far fa-heart"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-heart"></i>
                                            }
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="search-listing-center">
                                <h5 class="job-link-title">
                                    <a asp-controller="Contestants" asp-action="Details" asp-route-id="@item.Id">@item.FullName</a>
                                </h5>

                                <div class="job-link-location">

                                    <span class="city" style="color: #56d48f"><i class="fa fa-map-marker"></i> @item.LocationId</span>&nbsp;&nbsp;
                                    <span class="city"><i class="fa fa-calendar" style="color:orangered"></i> @item.CreatedOn.ToString("MM MMMM")</span>

                                    @if (item.About != null)
                                    {
                                        <p>@item.About</p>
                                    }



                                    @*if ((await skills.AnyAsync()))
                                        {
                                        @await foreach (var skill in skills)
                                        {
                                            <a asp-controller="Contestants" asp-action="Index" asp-route-SkillsId="@skill.Id">
                                            <span class="react-tags react-tags__selected-tag">@skill.Title</span>
                                            </a>
                                        }
                                         }*@

                                </div>


                            </div>
                            <div class="search-listing-right">

                                <div class="mobile-only">
                                    <a class="job-link hidden-link" asp-controller="Contestants" asp-action="Details" asp-route-id="@item.Id"></a>
                                    <div class="image-wrapper">
                                        @if (userId?.PictureName is null)
                                        {
                                            <img src="~/uploads/Images/100x100.jpg">
                                        }
                                        else
                                        {
                                            <img src="@FullImage" alt="Няма снимка">
                                        }

                                        }
                                        <div class="overlay">

                                            <a asp-controller="Contestants" asp-action="UpdateFavourite" asp-route-id="@item.Id" asp-route-returnUrl="@returnUrl" class="icon">
                                                @if (!(await _favoriteService.isInFavourite(user, PostType.Contestant, item.Id)))
                                                {
                                                    <i class="far fa-heart"></i>
                                                }
                                                else
                                                {
                                                    <i class="fas fa-heart"></i>
                                                }
                                            </a>
                                        </div>
                                    </div> 
                                </div>


                                @if (item.payRate > 0)
                                {
                                    <p class="job-link-salary">@item.payRate лв. / @item.SalaryType.GetDisplayName()</p>
                                }


                            </div>

                        </div>
                        <hr>

                    }
                    @await Html.PartialAsync("../Partials/_PaginationPartial", Model.Pager)
                </div>

            }
            else
            {
                <h3 class="search-options-sort text-md-center"> За съжеление не открихме никакви кандидати </h3>
            }
        </div>
    </div>
</div>

