@inject IConfiguration config
@inject UserManager<User> UserManager
@inject SignInManager<User> _signInManager

@inject ISkillsService _skillService
@inject IFavoritesService _favoriteService

@model ContestantViewModel

@{
    ViewData["Title"] = "Всички кандидати";
    ViewData["Description"] = "Търсете профили на кандидати от GrandJob.eu. Разгледайте нашата база данни за кандидати, за да намерите бързо подходящо лице за вашите задачи.";
    ViewData["Keywords"] = "candidates, кандидати, потребители, работа";

    Layout = "Layout/_Index";

    IAsyncEnumerable<Skills> skills;

    string FullImage;
    int dateNow = DateTime.Now.Year;
    string SiteImageUrl = config.GetSection("MySettings").GetSection("SiteImageUrl").Value;
}

    <!--Page Title-->
    <section class="page-title style-two">
      <div class="auto-container">
        <div class="title-outer">
          <h1>Кандидати</h1>
          <ul class="page-breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Начало</a></li>
            <li>Кандидати</li>
          </ul>
        </div>
      </div>
    </section>
    <!--End Page Title-->

    
        <!-- Listing Section -->
    <section class="ls-section">
      <div class="auto-container">
        <div class="filters-backdrop"></div>

        <div class="row">
            @await Component.InvokeAsync("_FilterCandidates")

          <!-- Content Column -->
         <div class="content-column col-lg-8 col-md-12 col-sm-12">
            <div class="ls-outer">
              <button type="button" class="theme-btn btn-style-two toggle-filters">Show Filters</button>

               @if (Model.Result is not null)
                    {
                        <!-- ls Switcher -->
                        <div class="ls-switcher">
                            <div class="showing-result">
                                <div class="text">Показани са <strong>@Model.Pager.TotalItems</strong> обяви</div>
                            </div>

                        </div>

                        <div class="row">
                            @await foreach (var item in Model.Result)
                            {
                                skills = _skillService.GetAll<Skills>(item.SkillsId, false);

                                if (item.Logo is not null)
                                    FullImage = (item.Logo is not null && item.Logo.Contains("https://")) ? item.Logo : (config.GetSection("MySettings").GetSection("UserPicturePath").Value + item.Logo); 
                                else
                                    FullImage = "~/uploads/Images/100x100.jpg";

                                <!-- Candidate block Four -->
                                <div class="candidate-block-four col-lg-6 col-md-6 col-sm-12">
                                    <div class="inner-box">

                                        <ul class="job-other-info">
                                            @if (item.Promotion > 0)
                                            {
                                                <li class="green">Препоръчано</li>
                                            }
                                        </ul>
                                         @{string iconType = @item.isInFavourites ? "las" : "lar";}
                                            <button type="button" value='Submit' onclick="CheckAvailabilityContestants(@item.Id)" class="bookmark-btn" data-toggle="tooltip" data-placement="bottom" title="Добави в любими">
                                                <span class="@iconType la-heart" id="@item.Id-heartIcon"></span>
                                            </button>
                                        <span class="thumb"><img class="lazyload" data-src="@FullImage" alt=""></span>
                                        <h3 class="name"><a asp-controller="Contestants" asp-action="Details" asp-route-id="@item.Id">@item.FullName</a></h3>
                                        <span class="cat">@item.Speciality</span>
                                        <ul class="job-info">
                                            <li><span class="icon flaticon-map-locator"></span> @item.LocationId</li>

                                            @if (item.payRate > 0)
                                            {
                                                <li><span class="icon flaticon-money"></span> @item.payRate / @item.SalaryType.GetDisplayName()</li>
                                            }

                                        </ul>
                                        <ul class="post-tags">
                                            @if (skills is not null)
                                            {
                                                @await foreach (var skill in skills)
                                                {
                                                    <li><a>@skill.Title</a></li>
                                                }
                                            }
                                        </ul>
                                        <a asp-controller="Contestants" asp-action="Details" asp-route-id="@item.Id" class="theme-btn btn-style-three">Прегледай</a>
                                    </div>
                                </div>

                            }
                        </div>

                        
              <!-- Listing Show More -->
              <div class="ls-show-more">
                <p>Страница @Model.Pager.CurrentPage от @Model.Pager.TotalPages страници</p>
                @*<div class="bar"><span class="bar-inner" style="width: 40%"></span></div>*@

                 @{await Html.RenderPartialAsync("../Partials/_PaginationPartial", Model.Pager);}
              </div>
            } 
                    else
                    {
                      <!-- ls Switcher -->
                        <div class="ls-switcher">
                            <div class="showing-result" style="margin-left: 10%">
                                <h2>Няма намерени обяви по избраните от вас критерии.</h2>
                            </div>
                        </div>

                    }

            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Listing Page Section -->
