@inject IConfiguration config
@inject ISkillsService _skillService
@inject IHtmlSanitizer Sanitizer

@model JobsViewModel

@{
    ViewData["Title"] = "Обяви за работа";
    ViewData["Description"] = "Публикувайте обявата си за работа тук. Или намерете подходяща работа за вас.";
    ViewData["Keywords"] = "обява, работа, кандидатура, публикувай";

    Layout = "~/Views/Home/_PageLayout.cshtml";

    string SiteImageUrl = config.GetSection("MySettings").GetSection("CompanyImageUrl").Value;
}
<link rel="preload" as="style" type="text/css" onload="this.onload=null;this.rel='stylesheet'"  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" asp-append-version="true">


    <!-- Job Detail Section -->
    <section class="job-detail-section style-two">
      <div class="job-detail-outer">
        <div class="auto-container">
          <div class="row">
            <div class="content-column col-lg-8 col-md-12 col-sm-12">
              <div class="job-block-outer">
                <!-- Job Block -->
                <div class="job-block-seven">
                  <div class="inner-box">
                    <div class="content">
                      <span class="company-logo" ><img class="lazyload" data-src="@SiteImageUrl@Model.CompanyLogo" style="border: 1px solid @Model.PremiumPackage.GetDescription()" alt=""></span>
                      <h4><a asp-controller="Jobs" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a></h4>
                      <ul class="job-info">
                        <li><span class="icon las la-map-marked"></span> @Model.LocationId</li>
                        <li><span class="icon las la-clock"></span> @Model.CreatedOn.ToString("MM MMMM")</li>
                        @if (Model.MinSalary > 0)
                        {
                        <li><span class="icon las la-money-bill-wave"></span> @Model.MinSalary - @Model.MaxSalary</li>
                        }
                        @if (!Model.PremiumPackage.Equals(PremiumPackage.None))
                        {
                        <li> <span class="icon @Model.PremiumPackage.GetShortName() @Model.PremiumPackage.GetPrompt()" style="color:@Model.PremiumPackage.GetDescription();"></span> @Model.PremiumPackage.GetDisplayName() обява</li>
                        } 
                    </ul>
                      <ul class="job-other-info">
                        @*
                        <li class="privacy">Private</li>
                        <li class="required">Urgent</li>
                        *@

                      </ul>
                    </div>
                  </div>
                </div>
              </div>


              <div class="job-detail">
                  <br>
           @if (Model.GalleryImages is not null)
           {
          <div class="carousel-outer wow fadeInUp">

          <div class="companies-carousel owl-carousel owl-theme default-dots">
                                @await foreach (var item in Model.GalleryImages)
                                {
                                     <div class="company-block">
                                        <figure class="image" style="width:unset; height:unset; border-radius:unset;">
                                            <a href="@Model.GalleryPath\@item" class="lightbox-image" data-fancybox="gallery">
                                                <img class="bordered lazyload" data-src="@Model.GalleryPath\@item" width="150" height="150" alt="">
                                            </a>
                                        </figure>
                                        </div>
                                }
                            </div>
                            </div>
                        }
                        @*if (Model.GalleryImages is not null)
                        {
                            <br>
                             <h4>Галерия</h4>
                             <br>
                            <div class="row images-outer">
                                @await foreach (var item in Model.GalleryImages)
                                {
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <figure class="image">
                                            <a href="@Model.GalleryPath\@item" class="lightbox-image" data-fancybox="gallery">
                                                <img class="bordered lazyload" data-src="@Model.GalleryPath\@item" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                }
                            </div>
                        }*@
                        <br>
                <h4>Описание</h4>
                @Html.Raw(@Sanitizer.Sanitize(@Model.Description))
              </div>

              <!-- Other Options -->
            <partial name="../Shared/Partials/_SocialSharingPartial" model='Model.Name' />

               @if (await Model.JobsByCompany.AnyAsync())
                    {
                        <!-- Related Jobs -->
                        <div class="related-jobs">
                            <div class="title-box">
                                <h3>Подобни обяви</h3>
                            </div>
                @await foreach (var item in Model.JobsByCompany)
                      {

                     <!-- Job Block -->
                     <div class="job-block col-lg-4 col-md-6 col-sm-12">
                     <div class="inner-box">
                    <div class="content">
                      <span class="company-logo"><img class="rounded-full lazyload" data-src="@SiteImageUrl@item.CompanyLogo" alt=""></span>
                      <h4><a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h4>
                      <ul class="job-info">
                        <li><span class="icon las la-map-marked"></span>@item.LocationId</li>                       
                        @if (item.MaxSalary > 0)
                         {
                          <li><span class="icon las la-wallet"></span>@item.MinSalary - @item.MaxSalary / @item.SalaryType.GetDisplayName()</li>
                         }

                         else
                         {
                          <li><span class="icon las la-wallet"></span>Не е посочено</li>
                         }
                        
                      </ul>
                      <ul class="job-other-info">
                        <li class="time">@item.ExprienceLevels.GetDisplayName()</li>
                        <li class="required">@item.CreatedOn.ToString("dd/MM/yyyy")</li>
                      </ul>

                      @{string iconType2 = @item.isInFavourites ? "las" : "lar";}
                      <button type="button" value='Submit' onclick="CheckAvailability(@item.Id)" class="bookmark-btn" data-toggle="tooltip" data-placement="bottom" title="Добави в любими">
                        <span class="@iconType2 la-heart" id="@item.Id-heartIcon"></span>
                      </button>
                    </div>
                  </div>
                </div>
                            }

                        </div>
                    }
                </div>

            <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
              <aside class="sidebar">
                <div class="btn-box">
                  <a class="theme-btn btn-style-one call-modal" data-modal="#apply-modal">Кандидатствай</a>
                  <a class="raport-btn call-modal" data-modal="#raport-modal" data-toggle="tooltip" data-placement="bottom" title="Докладвай обявата"><i class="las la-exclamation-circle" style="line-height:unset;"></i></a>
                  @{string iconType = @Model.isInFavourites ? "las" : "lar";}
                      <button type="button" value='Submit' onclick="CheckAvailability(@Model.Id)" class="bookmark-btn" data-toggle="tooltip" data-placement="bottom" title="Добави в любими">
                        <i class="@iconType la-heart" id="@Model.Id-heartIcon" style="line-height:unset;"></i>
                      </button>

                </div>

                <div class="sidebar-widget">
                  <!-- Job Overview -->
                  <h4 class="widget-title">Детайли</h4>
                  <div class="widget-content">
                    <ul class="job-overview">
                     @if (Model.ExprienceLevels > 0)
                         {
                      <li>
                       <i class="icon las la-business-time"></i>
                        <h5>Ниво:</h5>
                        <span>@Model.ExprienceLevels.GetDisplayName()</span>
                      </li>
                         }
                      <li>
                        <i class="icon las la-eye"></i>
                        <h5>Преглеждания</h5>
                        <span>@Model.Views</span>
                      </li>
                      <li>
                        <i class="icon las la-map-marked"></i>
                        <h5>Адрес:</h5>
                        <span>@Model.Adress</span>
                      </li>
                      <li>
                        <i class="icon las la-industry"></i>
                        <h5>Категория:</h5>
                        <span>@Model.CategoryName</span>
                      </li>
                      <li>
                        <i class="icon las la-hand-holding-usd"></i>
                        <h5>Заплащане:</h5>
                        <span>на @Model.SalaryType.GetDisplayName()</span>
                      </li>
                      @if (Model.WorkType != null)
                      {
                      <li>
                        <i class="icon las la-handshake"></i>
                        <h5>Тип:</h5>
                        <span>@Model.WorkType.Replace(",", "; ")</span>
                      </li>
                      }
                    </ul>
                  </div>

                  <!-- Map Widget
                  <h4 class="widget-title">Job Location</h4>
                  <div class="widget-content">
                    <div class="map-outer">
                      <div class="map-canvas" data-zoom="12" data-lat="-37.817085" data-lng="144.955631" data-type="roadmap" data-hue="#ffc400" data-title="Envato" data-icon-path="images/resource/map-marker.png" data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                      </div>
                    </div>
                  </div> -->

                  <!-- Job Skills -->
                  <h4 class="widget-title">Умения</h4>
                  <div class="widget-content">
                    <ul class="job-skills">

                         @if (Model.SkillsMapped is not null)
                                {
                                    @await foreach (var skill in Model.SkillsMapped)
                                    {
                                        <li><a>@skill.Title</a></li>
                                    }
                                }

                    </ul>
                  </div>

                  
                  <!-- Job Languages -->
                  <h4 class="widget-title">Езици</h4>
                  <div class="widget-content">
                    <ul class="job-skills">

                         @if (Model.LanguagesMapped is not null)
                                {
                                    @await foreach (var skill in Model.LanguagesMapped)
                                    {
                                        <li><a>@skill.Name</a></li>
                                    }
                                }

                    </ul>
                  </div>
                </div>

                <div class="sidebar-widget company-widget">
                  <div class="widget-content">
                    <div class="company-title">
                      <div class="company-logo"><img class="lazyload" data-src="@SiteImageUrl@Model.company.Logo" alt=""></div>
                      <h5 class="company-name">@Model.company.Title</h5>
                      <a asp-controller="Company" asp-action="Details" asp-route-id="@Model.company.Id" class="profile-link">Прегледай профил в сайта</a>
                    </div>

                    <ul class="company-info">
                      <li>Дата на регистрация: <span>@Model.company.Date.ToString("yyyy")</span></li>
                      <li>Номер: <a href="tel:@Model.company.PhoneNumber"><span>@Model.company.PhoneNumber</span></a></li>
                      <li>Емайл: <a href="mailto:@Model.company.Email"><span>@Model.company.Email</span></a></li>
                      <li>Град: <span>@Model.company.LocationId</span></li>
                      <li>Адрес: <span>@Model.company.Adress</span></li>
                      <li>Социална медия:
                        <div class="social-links">
                          <a href="@Model.company.Facebook"><i class="lab la-facebook-f"></i></a>
                          <a href="@Model.company.Twitter"><i class="lab la-twitter"></i></a>
                          <a href="@Model.company.Linkdin"><i class="lab la-linkedin-in"></i></a>
                        </div>
                      </li>
                    </ul>

                    <div class="btn-box">
                        <a class="theme-btn btn-style-three">
                         <div class="star-rating">
        <span class="las la-star" data-rating="1"></span>
        <span class="las la-star" data-rating="2"></span>
        <span class="las la-star" data-rating="3"></span>
        <span class="las la-star" data-rating="4"></span>
        <span class="las la-star" data-rating="5"></span>
        <input type="hidden" name="whatever1" class="rating-value" value="@Model.company.Rating">
      </div>
                    </a></div>
                  </div>
                </div>
                @*
                <div class="sidebar-widget contact-widget">
                  <h4 class="widget-title">Contact Us</h4>
                  <div class="widget-content">
                    <!-- Comment Form -->
                    <div class="default-form">
                      <!--Comment Form-->
                      <form>
                        <div class="row clearfix">
                          <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <input type="text" name="username" placeholder="Your Name" required>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <input type="email" name="email" placeholder="Email Address" required>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <textarea class="darma" name="message" placeholder="Message"></textarea>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Send Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>*@
              </aside>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Job Detail Section -->
    <partial name="../Shared/Partials/_ApplyRaportPartial" model='new ApplyRaportViewModel(){Id = Model.Id, Name = Model.Name, resumeFilesId = Model.resumeFilesId, Message = Model.Message, ReturnUrl = Model.ReturnUrl }' />
