@inject IConfiguration config

@inject ICompanyService CompanyService
@inject ISkillsService _skillService
@inject IFavoritesService _favoriteService

@model JobsViewModel

@{
    ViewData["Title"] = "Обяви за работа";
    ViewData["Description"] = "Публикувайте обявата си за работа тук. Или намерете подходяща работа за вас.";
    ViewData["Keywords"] = "обява, работа, кандидатура, публикувай";

    Layout = "Layout/_Index";

    IAsyncEnumerable<Skills> skills;
    string SiteImageUrl = config.GetSection("MySettings").GetSection("CompanyImageUrl").Value;
}

    <!--Page Title-->
    <section class="page-title">
      <div class="auto-container">
        <div class="title-outer">
          <h1>Обяви за работа</h1>
          <ul class="page-breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Начало</a></li>
            <li>Обяви</li>
          </ul>
        </div>
      </div>
    </section>
    <!--End Page Title-->

        <!-- Listing Section -->
    <section class="ls-section">
      <div class="auto-container">
        <div class="filters-backdrop"></div>

        <div class="row">
          @await Component.InvokeAsync("_FilterJobs")


          <!-- Content Column -->
          <div class="content-column col-lg-8 col-md-12 col-sm-12">
            <div class="ls-outer">
              <button type="button" class="theme-btn btn-style-two toggle-filters">Show Filters</button>

                    @if (Model.Result is not null)
                    {
                        <!-- ls Switcher -->
                        <div class="ls-switcher">
                            <div class="showing-result">
                                <div class="text">Показани са <strong>@Model.Pager.PageSize</strong> от <strong>@Model.Pager.TotalItems</strong> обяви</div>
                            </div>

                        </div>

                        @await foreach (var item in Model.Result)
                        {
                            skills = _skillService.GetAllById<Skills>(item.TagsId, false);

                            <!-- Job Block -->
                            <div class="job-block">
                                <div class="inner-box">
                                    <div class="content">
                                        <span class="company-logo"><img class="lazyload" data-src="@SiteImageUrl@item.CompanyLogo" width="54" height="54" alt=""></span>
                                        <h4><a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h4>
                                        <ul class="job-info">
                                            <li><span class="icon flaticon-map-locator"></span> @item.LocationId</li>
                                            <li><span class="icon flaticon-clock-3"></span> @item.CreatedOn.ToString("MM MMMM")</li>
                                            @if (item.MinSalary > 0)
                                            {
                                                <li><span class="icon flaticon-money"></span> @item.MinSalary лв.</li>
                                            }
                                        </ul>
                                        <ul class="job-other-info">
                                            @if (item.ExprienceLevels > 0)
                                            {
                                                <li class="time"> @item.ExprienceLevels.GetDisplayName()</li>
                                            }
                                            @*
                                                <li class="time">Full Time</li>
                                                <li class="privacy">Private</li>
                                                <li class="required">Urgent</li>
                                            *@
                                        </ul>

                                       @* <form method="post" asp-controller="Jobs" asp-action="UpdateFavourite" asp-route-id="@item.Id" id="AddToFavJob">*@
                                       
                                           @{string iconType = @item.isInFavourites ? "las" : "lar";}
                                            <button type="button" value='Submit' onclick="CheckAvailability(@item.Id)" class="bookmark-btn" data-toggle="tooltip" data-placement="bottom" title="Добави в любими">
                                                <span class="@iconType la-heart" id="@item.Id-heartIcon"></span>
                                            </button>
                                   

                                    </div>
                                </div>
                            </div>
                        }

              <!-- Listing Show More -->
              <div class="ls-show-more">
                <p>Страница @Model.Pager.CurrentPage от @Model.Pager.TotalPages страници</p>
                @*<div class="bar"><span class="bar-inner" style="width: 40%"></span></div>*@

                 @{await Html.RenderPartialAsync("../Partials/_PaginationPartial", Model.Pager);}
              </div>
                    } 
                    else
                    {
                      <!-- ls Switcher -->
                        <div class="ls-switcher">
                            <div class="showing-result" style="margin-left: 10%">
                                <h2>Няма намерени обяви по избраните от вас критерии.</h2>
                            </div>
                        </div>

                    }


            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!--End Listing Page Section -->
