
@inject UserManager<User> _userManager
@inject ICompanyService _companyService

@model ActivityViewModel
@{
    string FullImage = null;
    string notifyIcon = null;
}

<link type="text/css" href="~/customCSS/Dashboard/plugins/Using/quickSideBar.css" rel="stylesheet" asp-append-version="true" />
<link type="text/css" href="~/customCSS/Dashboard/plugins/Using/notifications.min.css" rel="stylesheet" asp-append-version="true" />
<link type="text/css" href="~/customCSS/Dashboard/plugins/Using/avatar.min.css" rel="stylesheet" asp-append-version="true" />

<div class="quick-sidebar" id="quick-sidebar" onclick="HideBubbble()">

    <div class="quick-sidebar-wrapper">
        <div class="sectionName">
            <a href="#" class="close-quick-sidebar">
                <i class="fas fa-angle-left"></i>
            </a>
            Активност
        </div>


        <ul class="nav nav-tabs nav-line nav-color-primary" role="tablist">
            <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#messenger" role="tab" aria-selected="false"><i class="flaticon-chat-4"></i></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#notif" role="tab" aria-selected="false"> <i class="flaticon-alarm"></i></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#fav" role="tab" aria-selected="false"><i class="flaticon-like-1"></i></a> </li>
        </ul>

        <div class="tab-content mt-3">

            <div class="tab-pane fade active show" id="messenger" role="tabpanel">
                <div class="messages-contact">
                    <div class="quick-wrapper">
                        <div class="quick-scroll scrollbar-outer">
                            <div class="quick-content contact-content">

                                <div class="contact-list contact-list-recent">
                                    @if (Model.isMessagesEmpty && Model.Messages is not null)
                                    {

                                        @await foreach (var entity in Model.Messages)
                                        {
                                            var sender = await _userManager.FindByIdAsync(entity.SenderId);

                                            <div class="message">
                                                <a asp-controller="Message" asp-action="Details" asp-route-id="@entity.Id">


                                                    @if (sender.PictureName is null)
                                                    {
                                                        <div class="avatar-lg">
                                                            <span class="avatar-title rounded-circle" style="background-color: @sender?.Role.GetDescription()">@Model.FullName</span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="avatar-lg">
                                                            <img src="@Model.SiteUrl@sender?.PictureName" alt="User picture" class="avatar-img rounded">
                                                        </div>
                                                    }
                                                    <div class="user-data">
                                                        <span class="name">@sender?.FirstName @sender?.LastName</span>
                                                        <span class="subject">@entity.Title</span>
                                                        <span class="time">@entity.dateTime.ToString("MM MMMM")</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="notif" role="tabpanel">
                <div class="messages-contact">
                    <div class="quick-wrapper">
                        <div class="quick-scroll scrollbar-outer">
                            <div class="quick-content contact-content">

                                <div class="contact-list contact-list-recent">
                                    @if (Model.isNotiftEmpty && Model.Notifications != null)
                                    {

                                        @await foreach (var entity in Model.Notifications)
                                        {
                                            switch (entity.Type)
                                            {
                                                case NotifyType.Information:
                                                    notifyIcon = "notif-primary";
                                                    break;
                                                case NotifyType.Warning:
                                                    notifyIcon = "notif-warning";
                                                    break;
                                                case NotifyType.Danger:
                                                    notifyIcon = "notif-danger";
                                                    break;
                                                case NotifyType.Success:
                                                    notifyIcon = "notif-success";
                                                    break;
                                                case NotifyType.Image:
                                                    notifyIcon = "notif-img";
                                                    break;
                                            }

                                    <div class="message">
                                        <a href="@Model.SiteUrl@entity.Url">

                                            <div class="avatar-lg">
                                                <span class="avatar-title rounded-circle @notifyIcon"> <i class="@entity.Icon"></i></span>
                                            </div>

                                            <div class="user-data">
                                                <span class="name">@entity.Title</span>
                                                <span class="subject">@entity.Type.GetDisplayName()</span>
                                                <span class="time">@entity.Date.ToString("MM MMMM")</span>
                                            </div>
                                        </a>
                                    </div>
                                            <div class="dropdown-divider"></div>
                                        }
                                    }
                                    @if (Model.isNotiftEmpty && Model.Notifications is not null)
                                    {
                                        <a class="see-all" style="font-size:.7em;" asp-controller="Notifications" asp-action="ClearNotifications" asp-route-returnurl="@Model.ReturnUrl">
                                            <i class="text-danger fa fa-times"></i> Изчисти всички
                                        </a>

                                    }
                                    else
                                    {

                                        <a href="#" class="see-all">
                                            <span class="text-success fa fa-check-circle"></span> <b>Нямате нови известия</b>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
     
                        </div>
                    </div>
               
            </div>


            <div class="tab-pane fade" id="fav" role="tabpanel">
                <div class="messages-contact">
                    <div class="quick-wrapper">
                        <div class="quick-scroll scrollbar-outer">
                            <div class="quick-content contact-content">

                                <div class="contact-list contact-list-recent">
                                    @if (Model.FavouritesCount > 0)
                                    {

                                        @if (Model.FavouriteCompany is not null)
                                        {
                                            await foreach (var item in Model.FavouriteCompany)
                                            {
                                    <div class="user">

                                        <div class="avatar-lg favouriteImage">

                                            @if (item.Logo is null)
                                            {
                                                <span class="avatar-title rounded-circle"><i class="fas fa-images"></i></span>
                                            }
                                            else
                                            {
                                                <img src="@Model.SiteUrl@item.Logo" alt="User picture" class="avatar-img rounded">
                                            }


                                            <div class="overlay">

                                                <a asp-controller="Company" asp-action="UpdateFavourite" asp-route-id="@item.Id" asp-route-returnUrl="@Model.ReturnUrl" class="favIcon">
                                                    <i class="fas fa-heart"></i>
                                                </a>

                                            </div>

                                        </div>
                                        <a asp-controller="Company" asp-action="Details" asp-route-id="@item.Id" class="link">
                                            <div class="user-data">
                                                <span class="name">@item.Title</span>
                                                <span class="subject"><i class="text-success fas fa-map-marker-alt"></i> @item.LocationId</span>
                                                <span class="time">@item.Rating</span>
                                            </div>
                                        </a>

                                         </div>
                                             <div class="dropdown-divider"></div>
                                                    }
                                                }


                                                @if (Model.FavouriteJob is not null)
                                                {


                                                    await foreach (var item in Model.FavouriteJob)
                                                    {
                                                        Model.Company = await _companyService.GetByIdAsync(item.CompanyId);
                                <div class="user">

                                    <div class="avatar-lg favouriteImage">
                                        @if (Model.Company?.Logo is null)
                                        {
                                            <span class="avatar-title rounded-circle"><i class="fas fa-images"></i></span>
                                        }
                                        else
                                        {
                                            <img src="@Model.SiteUrl@Model.Company?.Logo" alt="Няма лого" class="avatar-img rounded">
                                        }

                                        <div class="overlay">

                                            <a asp-controller="Jobs" asp-action="UpdateFavourite" asp-route-id="@item.Id" asp-route-returnUrl="@Model.ReturnUrl" class="favIcon">
                                                <i class="fas fa-heart"></i>
                                            </a>

                                        </div>
                                    </div>
                                    <a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.Id" class="link">
                                        <div class="user-data">
                                            <span class="name">@item.Name</span>
                                            <span class="subject"><i class="text-success fas fa-map-marker-alt"></i> @item.LocationId</span>
                                            <span class="time">@item.Rating</span>
                                        </div>
                                    </a>
                                </div>
                                              <div class="dropdown-divider"></div>
                                                    }
                                                }

                                                @if (Model.FavouriteContestant is not null)
                                                {

                                                    await foreach (var item in Model.FavouriteContestant)
                                                    {
                                                        Model.ContestantUser = await _userManager.FindByIdAsync(item.PosterID);
                                                        if (!(Model.ContestantUser is null))
                                                            FullImage = Model.ContestantUser.isExternal ? Model.ContestantUser?.PictureName : Model.SiteUrl + Model.ContestantUser?.PictureName;
                                                        else
                                                            FullImage = "~/uploads/Images/100x100.jpg";

                                <div class="user">
                                    <div class="avatar-lg favouriteImage">
                                        @if (Model.ContestantUser?.PictureName is null)
                                        {
                                            <span class="avatar-title rounded-circle"><i class="fas fa-images"></i></span>
                                        }
                                        else
                                        {

                                            <img src="@FullImage" alt="Няма лого" class="avatar-img rounded">

                                        }
                                        <div class="overlay">

                                            <a asp-controller="Cotestants" asp-action="UpdateFavourite" asp-route-id="@item.Id" asp-route-returnUrl="@Model.ReturnUrl" class="favIcon">
                                                <i class="fas fa-heart"></i>
                                            </a>

                                        </div>
                                    </div>
                                    <a asp-controller="Contestants" asp-action="Details" asp-route-id="@item.Id" class="link">
                                        <div class="user-data">
                                            <span class="name">@item.FullName</span>
                                            <span class="subject"><i class="text-success fas fa-map-marker-alt"></i> @item.LocationId</span>
                                            <span class="time">@item.payRate лв. / @item.SalaryType.GetDisplayName()</span>
                                        </div>
                                    </a>

                                </div>
                                                        <div class="dropdown-divider"></div>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

        <script>
            function HideBubbble() {
                $.ajax({
                    url: '/UsersApi/HideBubble/',
                    type: "POST",
                    dataType: "json",
                    data: true,
                });

            };
            </script>
