@inject IMessageService _messageService
@inject UserManager<User> _userManager

@{
    String pageName = ViewContext.RouteData.Values["page"].ToString();
    var Sort = ViewData["Sort"];
    // var unreadedCount = _messageService.GetMessagesByState<MessageViewModel>(userId, MessageStates.Read, false);
    // var importantCount = _messageService.GetMessagesByState<MessageViewModel>(userId, MessageStates.Important, true);
    // var staredCount = _messageService.GetMessagesByState<MessageViewModel>(userId, MessageStates.Stared, true);
    // var reportCount = _messageService.GetMessagesByState<MessageViewModel>(userId, MessageStates.Report, true);
}

<div class="page-aside">
    <div class="aside-header">
        <div class="title">Съобщения</div>
        <br>
        <div class="mobile-only">
            <a class="btn btn-outline-primary btn-block toggle-email-nav" id="aSideBtn" data-toggle="collapse" href="#email-app-nav" role="button" aria-expanded="false" aria-controls="email-nav">
                <span class="btn-label">
                    <i class="fa fa-bars"></i>
                </span>
                Меню
            </a>
        </div>
        <br>

        <a asp-page="Compose" class="btn btn-outline-danger btn-block fw-mediumbold"><i class="fas fa-pen-alt"></i> Ново съобщение</a>

    </div>
    <form method="get" asp-page="Index" id="aSideMenu">
        <div class="collapse aside-nav" id="email-app-nav">

            <ul class="nav">
                <li class="@(pageName == "/Messenger" ? "active" : "")">
                    <i class="fas fa-inbox"></i><input type="submit" asp-for="@Sort" value="Входящи"/>
                    @*<span class="badge badge-primary float-right">@unreadedCount</span>*@

                </li>
                <li class="@(pageName == "/Messenger?Sort=Изпратени" ? "active" : "")">
                    <i class="fas fa-envelope"></i> <input type="submit" asp-for="@Sort" value="Изпратени" />
                </li>
                <li class="@(pageName == "/Messenger?Sort=Важни" ? "active" : "")">
                    <i class="fas fa-exclamation-triangle"></i> <input type="submit" asp-for="@Sort" value="Важни"/>
                </li>
                <li class="@(pageName == "/Messenger?Sort=Закачени" ? "active" : "")">
                    <i class="fas fa-star"></i><input type="submit" asp-for="@Sort" value="Закачени"/>
                </li>

            </ul>

            <span class="label">Други</span>
            <ul class="nav nav-pills nav-stacked">
                <li class="@(pageName == "/Messenger?Sort=Докладвани" ? "active" : "")">
                    <i class="fas fa-flag"></i>  <input type="submit" asp-for="@Sort" value="Докладвани" />
                </li>
                <li class="@(pageName == "/Messenger?Sort=Кошче" ? "active" : "")">
                    <i class="fas fa-recycle"></i> <input type="submit" asp-for="@Sort" value="Кошче" />
                </li>
            </ul>

            <div class="aside-compose"></div>
        </div>
        </form>
</div>

