@page

@inject IConfiguration config
@inject IResumeService resumeService
@inject UserManager<User> UserManager

@model IndexModel

@{
    ViewData["Title"] = "Моите файлове";
    Layout = "Layout/_Index";

    var user = await UserManager.GetUserAsync(User);
    var all = resumeService.GetAllBy(user);
    // Filter
    string resumeUploadLimit = config.GetSection("ResumeUploadLimit").Value;
    var count = await resumeService.GetFilesByUserCount(user.Id);

    string siteUrl = config.GetSection("MySettings").GetSection("ResumeUrl").Value;
    int index = 0;
    <script src="~/customJS/pdfobject.min.js"></script>
}
<style>
    .pdfobject-container {
        height: 120rem;
        border: 1rem solid rgba(0,0,0,.1);
    }
</style>
<form method="post" enctype="multipart/form-data">

    <div id="resumeModal" class="modal fade" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-md">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input asp-for="Input.FormFile" type="file" />
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-fill pull-right" id="Submit">Качи</button>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="row form-group">
    <!-- Modal -->
    <div id="myResume" class="modal fade" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <div id="resume">
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>

</div>





<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">@ViewData["Title"] ( @count/@resumeUploadLimit )</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">@ViewData["Title"]</a>
                </li>
            </ul>
        </div>


        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#resumeModal">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            Добави файл
                        </button>

                    </div>
                    <div class="card-body">
                        <table class="table table-responsive-md mt-3">

                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Заглавие</th>
                                    <th scope="col">Добавена на</th>
                                    <th scope="col">Достъп</th>
                                </tr>
                            </thead>


                            <tbody>
                                @{
                                    @if (all != null)
                                    {
                                        await foreach (var item in all)
                                        {
                                            index++;

                                    <tr>
                                        <td>@index</td>
                                        <td>@item.Title</td>
                                        <td>@item.Date.ToString("MM MMMM")</td>

                                        <td>

                                            <div class="btn-group btn-group-page-header ml-auto">
                                                <button type="button" class="btn btn-light btn-round btn-page-header-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <div class="arrow"></div>

                                                    <script>PDFObject.embed("@siteUrl@item.FileId", "#resume");</script>
                                                    <a data-toggle="modal" data-target="#myResume" class="dropdown-item">
                                                        <span class="fa fa-eye"></span> Преглед
                                                    </a>
                                                    @*
                                                        <a asp-controller="Resume" asp-action="GetResume" asp-route-id="@item.FileId" class="dropdown-item">
                                                            <span class="fa fa-eye"></span> Преглед
                                                        </a>
                                                    *@
                                                    <form asp-page-handler="Delete" asp-route-id="@item.Id" method="post">

                                                        <button type="submit" class="dropdown-item">
                                                            <span class="fas fa-trash"></span>
                                                            Изтрий
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>

                                        </td>

                                    </tr>


                                        }
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
